<fieldset>	
  <legend><%= ts(:for, :what => Page.model_name.human(:count => :many), :whom => t('citation.of', :what => @object.citation.citable.id)) %></legend>
  <div class="row">
<%= f.label(:volume).s %>
<%= f.text_field :volume, :class => :text %>
  </div>
  <div class="row">
<%= f.label(:start_page).s %>
<%= f.text_field :start_page, :class => :text %>
  </div>
  <div class="row">
<%= f.label(:start_line).s %>
<%= f.text_field :start_line, :class => :text %>
  </div>
  <div class="row">
<%= f.label(:end_page).s %>
<%= f.text_field :end_page, :class => :text %>
  </div>
  <div class="row">
<%= f.label(:end_line).s %>
<%= f.text_field :end_line, :class => :text %>
  </div>
</fieldset>