<% add_breadcrumb_item link_to('citation', polymorphic_path([:admin, @parent_object.citable, @parent_object]))
   add_breadcrumb_item 'pages'
   add_breadcrumb_item @object.id %>
<fieldset>	
	<legend>Pages for citation of <%= @object.citation.citable_type.titleize %> <%= edit_item_link @object %> <%= delete_item_link @object %></legend>
	<div class="row">
		<label>Volume</label>
		<span><%= def_if_blank @object, :volume %></span>
	</div>	
	<div class="row">
		<label>Start Page</label>
		<span><%= def_if_blank @object, :start_page %></span>
	</div>
	<div class="row">
		<label>Start Line</label>
		<span><%= def_if_blank @object, :start_line %></span>
	</div>
	<div class="row">
		<label>End Page</label>
		<span><%= def_if_blank @object, :end_page %></span>
	</div>
	<div class="row">
		<label>End Line</label>
		<span><%= def_if_blank @object, :end_line %></span>
	</div>
</fieldset>