<% options ||= {} %>
<% if list.empty? %>
<%=  empty_collection_message ts('citation.unavailable') %>
<% else %>
   <table class="listGrid">
<%=  pagination_row :colspan=>6 unless @collection.nil? %>
     <tr>
       <th class="listActionsCol"></th>
<%=   "<th>#{ts 'type.adjective'}</th>".html_safe unless options[:hide_type] %>
<%=   "<th>#{ts 'type.value'}</th>".html_safe unless options[:hide_type_value] %>
       <th><%= Citation.human_attribute_name(:info_source_id).s %></th>
       <th><%= Page.model_name.human(:count => :many).titleize.s %></th>
       <th><%= Note.model_name.human(:count => :many).titleize.s %></th>
     </tr>
<%   list.each do |item| %>
     <tr>
       <td class="listActionsCol">
<%=    list_actions_for_item(item, :delete_path => polymorphic_path([:admin, item.citable, item]),
       :edit_path => edit_polymorphic_path([:admin, item.citable, item]), :view_path => polymorphic_path([:admin, item.citable, item])) %>
       </td>
<%=   "<td>#{item.citable_type.titleize}</td>".html_safe unless options[:hide_type] %>
<%=   "<td>#{item.citable}</td>".html_safe unless options[:hide_type_value] %>
<%#    uncomment the following lines to link to the citable object %>
<%#    object_path_method = ['admin', item.citable_type.underscore, 'path'].join('_').to_sym %>
<%#=   link_to(item.citable, send(object_path_method, item.citable)) %>
       <td>
<%     info_source = item.info_source %>
<%=    info_source.nil? ? '&nbsp;'.html_safe : info_source.prioritized_title %>
       </td>
       <td><%= item.pages.collect(&:to_s).join(', ') %></td>
       <td><%= item.notes %></td>
     </tr>
<%   end %>
   </table>
<% end %>