<% show_type ||= nil %>
<% options ||= {} %>
<% if list.empty? %>
	<%= empty_collection_message("No citations available.") %>
<% else %>

<table class="listGrid">

	<%= pagination_row :colspan=>6 unless @collection.nil? %>

	<tr>
		<th class="listActionsCol"></th>
		<%= "<th>Type</th>" unless options[:hide_type] %>
		<%= "<th>Type Value</th>" unless options[:hide_type_value] %>
		<th>Info Source</th>
		<th>Pages</th>
		<th>Notes</th>
	</tr>

	<% list.each do |item| %>
	<%
	  if show_type && !show_type.blank?
	    if show_type == :feature_name
	      delete_path = admin_feature_name_citation_path(item.citable, item)
	      edit_path = edit_admin_feature_name_citation_path(item.citable, item)
	      view_path = admin_feature_name_citation_path(item.citable, item)
      end
      if show_type == :feature_name_relation
	      delete_path = admin_feature_name_relation_citation_path(item.citable, item)
	      edit_path = edit_admin_feature_name_relation_citation_path(item.citable, item)
	      view_path = admin_feature_name_relation_citation_path(item.citable, item)
      end
   	  if show_type == :feature_type
      	  delete_path = admin_feature_object_type_citation_path(item.citable, item)
      	  edit_path = edit_admin_feature_object_type_citation_path(item.citable, item)
      	  view_path = admin_feature_object_type_citation_path(item.citable, item)
      end
    else
      delete_path = object_path(item)
      edit_path = edit_object_path(item)
      view_path = object_path(item)
    end
	%>
	
	<tr>

		<td class="listActionsCol">
		  <%= list_actions_for_item(item,
  		  {
  		    :delete_path => delete_path,
  		    :edit_path => edit_path,
  		    :view_path => view_path
  		  }
		  ) %>
		</td>
		
		<%= "<td>#{item.citable_type.titleize}</td>" unless options[:hide_type] %>
		
		<%= "<td>#{item.citable}</td>" unless options[:hide_type_value] %>

		<%# uncomment the following lines to link to the citable object %>
		<%# object_path_method = ['admin', item.citable_type.underscore, 'path'].join('_').to_sym %>
		<%#= link_to(item.citable, send(object_path_method, item.citable)) %>

		<td>
<%      info_source = item.info_source %>
<%=     info_source.nil? ? '&nbsp;' : info_source.code %>
        </td>
		<td><%= item.pages %></td>
		<td><%= item.notes %></td>

	</tr>
	<% end %>
	
</table>

<% end %>