<%= tagged_tinymce_script %>
<fieldset>
	
	<legend>
		Citation for: <%= @object.citable %>
	</legend>
	
	<%= f.hidden_field :id %>

	<div class="row">
		<%= f.label :info_source_id %>
		<%= f.collection_select :info_source_id, InfoSource.find(:all), :id, :code %>
	</div>

	<div class="row">
		<%= f.label :pages %>
		<%= f.text_field :pages, :class => :text %>
	</div>

	<div class="row">
		<%= f.label :notes %>
	</div>
	<div class="row">
		<%= f.text_area :notes, :rows=>4, :class => 'mceEditor' %>
	</div>
	
	<div class="row">
		<%= f.label '' %>
		<%= f.label '' %>		
	</div>
  
</fieldset>