<%= tagged_tinymce_script %>
<fieldset>
	
	<legend>
		Citation for: <%= @object.citable %>
	</legend>
	
	<%= f.hidden_field :id %>

	<div class="row">
		<%= f.label :info_source_id, 'Info Source (Document ID from MMS application)' %>
		<%= f.text_field :info_source_id, :class => :text %>
	</div>

	<div class="row">
		<%= f.label :pages %>
		<%= f.text_field :pages, :class => :text %>
	</div>

	<div class="row">
		<%= f.label :notes %>
	</div>
	<div class="row">
		<%= f.text_area :notes, :rows=>4, :class => 'mceEditor' %>
	</div>
	
	<div class="row">
		<%= f.label '' %>
		<%= f.label '' %>		
	</div>
  
</fieldset>