<%= render :partial => 'breadcrumbs' %>
<div>
  <div class="left">
<%= resource_search_form %>
  </div>
  <div class="right highlight">
<%  if parent? %>
<%=   new_item_link [@parent_object, :citation] %>
<%  else %>
<%=   parent_resource_dependency_message %>
<%  end %>		
  </div>
</div>
<br class="clear"/>
<%= render :partial => 'citations_list', :locals => { :list => @collection } %>