<%= render :partial => 'breadcrumbs' %>
<%  add_breadcrumb_item @object.id %>
<fieldset>	
	<legend>Citation for <%= @object.citable_type.titleize %> <%= edit_item_link @object %> <%= delete_item_link @object %></legend>
	<div class="row">
		<label>Info Source</label>
		<span><%= def_if_blank @object, :info_source, :prioritized_title %></span>
	</div>	
	<div class="row">
		<label>Pages</label>
		<span><%= @object.pages.collect{|p| "#{p.to_s} #{edit_item_link edit_admin_citation_page_path(@object, p)} #{delete_item_link admin_citation_page_path(@object, p)}"}.join(', ') %></span>
	</div>
	<div class="row">
		<label>Notes</label>
		<span><%= def_if_blank @object, :notes %></span>
	</div>
	<div class="row">
<%=	new_item_link(new_admin_citation_page_path(@object), 'Add pages referenced') %>
	</div>
</fieldset>