<%
if parent_type.to_s =~ /feature/
	add_breadcrumb_item features_link
end
case parent_type
when :feature
	add_breadcrumb_item feature_link(@object.citable)
when :feature_object_type
	add_breadcrumb_item feature_link(@object.citable.feature)
	add_breadcrumb_item link_to('feature object types', admin_feature_feature_object_types_path(@object.citable.feature))
	add_breadcrumb_item link_to(@parent_object.object_type.title, admin_feature_object_type_path(@parent_object))
when :feature_geo_code
	# @parent_object is FeatureGeoCode
	add_breadcrumb_item feature_link(@parent_object.feature)
	add_breadcrumb_item link_to('feature geo codes', admin_feature_feature_geo_codes_path(@parent_object.feature))
	add_breadcrumb_item link_to(@parent_object.geo_code_type.code, admin_feature_geo_code_path(@parent_object))
when :feature_relation
	add_breadcrumb_item feature_link(@object.citable.child_node)
	add_breadcrumb_item feature_relations_link(@object.citable.child_node)
	add_breadcrumb_item feature_relation_role_label(@object.citable.child_node, @object.citable, :use_first=>false)
when :feature_name
	add_breadcrumb_item feature_link(@object.citable.feature)
	add_breadcrumb_item feature_names_link(@object.citable.feature)
	add_breadcrumb_item link_to(@object.citable.name, admin_feature_name_path(@object.citable))
when :feature_name_relation
	add_breadcrumb_item feature_link(@parent_object.child_node.feature)
	add_breadcrumb_item feature_names_link(@parent_object.child_node.feature)
	add_breadcrumb_item link_to(@parent_object.child_node.name, admin_feature_name_path(@parent_object.child_node))
	add_breadcrumb_item link_to('relations', admin_feature_name_feature_name_relations_path(@parent_object.child_node))
	add_breadcrumb_item link_to(@parent_object.id, admin_feature_name_relation_path(@parent_object))
end
add_breadcrumb_item link_to('citations', collection_path)
add_breadcrumb_item @object.id
%>

<fieldset>
	
	<legend>Citation for <%= @object.citable_type.titleize %> <%= link_to 'Edit', edit_object_path(@object) %></legend>
	
	<div class="row">
		<label>Info Source</label>
		<span><%= def_if_blank @object, :info_source, :code %></span>
	</div>
	
	<div class="row">
		<label>Pages</label>
		<span><%= def_if_blank @object, :pages %></span>
	</div>
	
	<div class="row">
		<label>Notes</label>
		<span><%= def_if_blank @object, :notes %></span>
	</div>
	
</fieldset>