<% add_breadcrumb_item features_link
   if @locating_relation
     add_breadcrumb_items(feature_link(@object), feature_relations_link(@object), ts('select.record', :what => t('relat.ion.this')))
end %>
<div id="featureContextTreeAndList">
  <div id="featureContextList">
    <div>
      <div class="left">
<%=   resource_search_form(:context_id=>params[:context_id]) %>
      </div>
      <div class="right highlight">
<%    if @locating_relation %>
<%=     ts(:for, :what => t('relat.ion.location'), :whom => feature_link(object)) %>
<%    else %>
<%=     new_item_link [:feature] %>
<%    end %>
      </div>
      <%#= context_search_message(@context_feature) %>
    </div>
    <br class="clear"/>
    <table class="listGrid">
<%= pagination_row :colspan=>3 %>  
      <tr>
        <th class="listActionsCol"></th>
        <th class="leftText"><%= FeatureName.model_name.human(:count => :many).titleize.s %></th>
        <th><%= Feature.human_attribute_name(:object_type).s %></th>
      </tr>
<%    @collection.each do |item| %>
      <tr class="<%= @context_feature==item ? 'selected' : '' %>">  
        <td class="listActionsCol">
<%      if @locating_relation %>
<%=       form_tag new_admin_feature_feature_relation_path(@object), {:method=>:get} %>
<%=         hidden_field_tag :target_id, item.id %>
<%=         globalized_submit_tag 'select.this' %>
          </form>
<%      else %>
<%=       list_actions_for_item(item, :hide_edit => true) %>
<%      end %>
        </td>
        <td style="width:60%;">
<%=     f_label(item) %>
        </td>
        <td class="leftText">
<%      if @context_feature==item %>
          <strong style="color:black;"><%= item.object_types.first.title rescue '' %></strong>
<%      else %>
<%=       link_to item.object_types.first.header, current_features_path(:context_id=>item.id, :filter=>params[:filter]) unless item.object_types.empty? %>
<%      end %>  
        </td>
      </tr>
<%    end %>
    </table>
  </div>
  <div id="featureContextTree">
    <h2><%= link_to(current_perspective, current_features_path) %> (<%= link_to ts(:switch, :what => Perspective.model_name.human.s), edit_session_path %>)</h2>
    <ul>
<%=   new_tree_builder.build(@context_feature) { |node| !node.is_blank? } %>
    </ul>
  </div>
  <br class="clear"/>
</div>