<div>
  <h1>Please select the Place in the hierarchy where you would like to add your new Place</h1>
</div>
<div id="relation_tree_container">
</div>
<%= javascript_include_tag 'kmaps_engine/kmaps_fancytree' %>
<%= javascript_on_load do %>
  $("#relation_tree_container").kmapsFancytree({
    featureId: "13735",
    featuresPath: "<%= new_admin_feature_path %>?parent_id=%%ID%%",
    termIndex: "<%= Feature.config.url %>",
    perspective: "<%= current_perspective.code %>",
    seedTree: {
      descendants: true,
      directAncestors: true,
    },
    displayPopup: false
  });
<% end %>
