<% # if we're showing the descriptions of a particular Feature
   if @feature
     add_breadcrumb_item features_link
     add_breadcrumb_item feature_link(@feature)
     add_breadcrumb_item feature_descriptions_link(@feature)
     add_breadcrumb_item ts(:set, :what => t('primary.record', :what => Description.model_name.human.titleize.s))
   end %>
<h1><%= ts :what => t('select.record', :what => t('primary.record', :what => Description.model_name.human.titleize.s)), :whom => '"<em>#{h(@feature)}</em>"' %></h1>
<%= error_messages_for :feature %>
<%= form_for @feature, :url=>admin_feature_path(@feature), :method => :put do |f| %>
<%   @feature.descriptions.order('is_primary DESC, title').each do |d| %>
     <p><table class='descriptionlist'>
       <tr>
         <td><%= radio_button_tag :primary, d.id, d.is_primary?  %></td>
         <td><%= d.content %></td>
       </tr>
     </table></p>
<%   end %>
     <p><%= globalized_submit_tag ts(:set, :what => t('primary.this')) %></p>
<% end %>
<p><%= link_to ts('cancel.record', :what => t('select.ing', :what => t('primary.this'))), admin_feature_path(@feature) %></p>