<%= stylesheet_link_tag 'thickbox' %>
<%= javascript_include_tag 'thickbox-compressed' %>

<% add_breadcrumb_items features_link, @object %>
<div>
<h1>THL Place Dictionary Entry for: <%= @object.name %></h1>
</div>
<br class="clear"/>
<div id="featureShow">
<fieldset>
	<legend>General Information <%= edit_item_link @object %></legend>
	<div class="row">
	  <label>THL ID: </label> <span><%= @object.pid %></span>
	</div>
<%  if !@object.old_pid.blank? %>
	  <div class="row">
		<label>Old THL ID: </label> <span><%= @object.old_pid %></span>
	  </div>
<%  end %>
	<div class="row">
		<label>Is Public?: </label> <span><%= @object.is_public? ? "Yes" : "No" %></span>
	</div>

</fieldset>

<fieldset>
	<legend>Names <%= link_to 'Change Prioritization of Names', admin_prioritize_feature_names_path(@object) %></legend>
	<%= highlighted_new_item_link [@object, :feature_name] %>
	<br class="clear"/>
	<%= render :partial => 'admin/feature_names/feature_names', :locals => { :list => @object.names } %>
	<dl class="no-style">
	<% @object.names.roots.each do |name| %>
		<%= "<dt><strong>Etymology of #{name.name} (" + list_actions_for_item(name,
			{
			  :delete_path => admin_feature_feature_name_path(name.feature, name),
			  :edit_path   => edit_admin_feature_feature_name_path(name.feature, name),
			  :manage_path => admin_feature_feature_name_path(name.feature, name),
			  :hide_view   => true,
			  :hide_delete => true
		    }
		  ) + "):</strong></dt><dd>#{name.etymology}</dd>" unless name.etymology.blank? %>
	<% end %>
	</dl>
	<%= association_note_list_fieldset(FeatureName.model_name) %>
</fieldset>
<fieldset>
	<legend>Feature Types <%= link_to 'Change Prioritization of Feature Types', admin_prioritize_feature_object_types_path(@object) %></legend>
	<%= highlighted_new_item_link [@object, :feature_object_type] %>
	<br class="clear"/>
	<%= render :partial => 'admin/feature_object_types/list', :locals => { :list => @object.feature_object_types, :hide_feature_id => true } %>
	<%= association_note_list_fieldset(FeatureObjectType.model_name) %>
</fieldset>
<fieldset>
	<legend>Kmap Characteristics</legend>
	<%= highlighted_new_item_link [@object, :category_feature] %>
	<br class="clear"/>
	<%= render :partial => 'admin/category_features/list', :locals => { :list => @object.category_features.all(:conditions => {:type => nil}), :hide_feature_id => true } %>
	<%= association_note_list_fieldset(CategoryFeature.model_name) %>
</fieldset>
<fieldset>
	<legend>Geo Codes</legend>
	<%= highlighted_new_item_link [@object, :feature_geo_code] %>
	<br class="clear"/>
	<%= render :partial => 'admin/feature_geo_codes/list', :locals => { :list => @object.geo_codes } %>
	<%= association_note_list_fieldset(FeatureGeoCode.model_name) %>
</fieldset>
<fieldset>
	<legend>Locations <%= link_to 'Change Prioritization of Locations', admin_prioritize_feature_shapes_path(@object) %></legend>
	<%= highlighted_new_item_link [@object, :shape] %>
	<br class="clear"/>
	<%= render :partial => 'admin/shapes/list', :locals => { :list => @object.shapes } %>
	<%= association_note_list_fieldset(Shape.model_name) %>
</fieldset>
<fieldset>
	<legend>Altitude</legend>
	<%= highlighted_new_item_link [@object, :altitude] %>
	<br class="clear"/>
	<%= render :partial => 'admin/altitudes/list', :locals => { :list => @object.altitudes } %>
	<%= association_note_list_fieldset(Altitude.model_name) %>
</fieldset>
<fieldset>
	<legend>Feature Relations</legend>
	<%= highlighted_new_item_link locate_for_relation_admin_feature_path(@object), 'New Feature Relation' %>
	<br class="clear"/>
	<%= render :partial => 'admin/feature_relations/list', :locals => { :list => @object.all_relations, :parent => @object, :use_first => false, :use_names => true } %>
	<%= association_note_list_fieldset(FeatureRelation.model_name) %>
</fieldset>
<fieldset>
	<legend>Essays</legend>
	<%= highlighted_new_item_link [@object, :description] %>
	<br class="clear"/>
	<%= render :partial => 'admin/descriptions/descriptions_list', :locals => { :list => @object.descriptions.find(:all, :order => 'is_primary DESC, title') } %>
	<%= association_note_list_fieldset(Description.model_name) %>
</fieldset>
</div>