<h1><%= ts 'edit.record', :what => 'session.preferences' %></h1>
<%= form_for(:session, :url => session_path, :method => :put) do |f| %>
     <p><label for="perspective_id"><%= ts(:default, :what => Perspective.model_name.human.titleize) %></label><br/>
<%=  f.collection_select(:perspective_id, @perspectives, :id, :name) %></p>
     <p><label for="view_id"><%= ts(:default, :what => View.model_name.human.titleize) %></label><br/>
<%=  f.collection_select(:view_id, @views, :id, :name) %></p>
     <p><%= globalized_submit_tag 'update.this' %></p>
<% end -%>