<div class="thl-popup-padded-content">
<% if false %>
  <h2>Note<%= "s" if @notes.length > 1 %> for <%= @parent_object %></h2>
<% end %>

<% @notes.each do |note| %>
  <h2><%= note.title.s %></h2>
  <p>
	<%= "#{"by "+note.authors.collect{|a| a.fullname }.join(", ")+" " if note.authors.length > 0} (#{note.updated_at.to_date.to_formatted_s(:long)})" %>
  </p>
  <div>
	<%= note.content.s %>
  </div>
<% end %>
</div>