<div class="thl-popup-padded-content">
<% if false %>
  <h2><%= ts :for, :what => Note.model_name.human(:count => @notes.size).titleize, :whom => @parent_object %></h2>
<% end %>
<% @notes.each do |note| %>
    <h2><%= (note.title.blank? ? Note.model_name.human.titleize.s : note.title).s %></h2>
    <p>
<%=   ts(:by, :whom => note.authors.collect(&:fullname).join(', ')) if note.authors.size > 0 %> (<%= note.updated_at.to_date.to_formatted_s(:long) %>)
    </p>
    <div class="note-content"><%= "#{note.content}".s %></div>
<% end %>
</div>