<% add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@object.feature)
   add_breadcrumb_item link_to(collection_name, admin_feature_category_feature_path(@object.feature))
   add_breadcrumb_item @object %>
<fieldset>
	<legend>
		Knowledge Map Characteristic
		<%= edit_item_link @object %>
	</legend>
	<div class="row">
		<label>Feature</label>
		<span><%= def_if_blank(@object, :feature, :name) %></span>
	</div>
	<div class="row">
		<label>Characteristic</label>
		<span><%= @object.category_header %>
<%=     def_if_blank @object, :category, :title %></span>
	</div>
	<div class="row">
		<label>String Label</label>
		<span><%= def_if_blank @object, :string_value %></span>
	</div>
	<div class="row">
		<label>Numeric Label</label>
		<span><%= def_if_blank @object, :numeric_value %></span>
	</div>
</fieldset>
<%= citation_list_fieldset %>
<%= note_list_fieldset %>
<%= time_unit_list_fieldset %>