<%= error_messages_for model_name %>
<fieldset>
	
	<legend>
		Feature Type
	</legend>
	
	<div class="row">
		<%= f.label :feature %>
		<span><%= f_label(@object.feature) %></span>
	</div>
	
	<div class="row">
		<%= f.label :type %>
		<%= category_selector(@parent_object_type, :feature_object_type, :object_type, true, :hasTree => 'true', :singleSelectionTree => 'true') %>
	</div>
	
</fieldset>