<% hide_feature_id = hide_feature_id.nil? ? false : hide_feature_id
   if list.empty? %>
<%=  empty_collection_message %>
<% else %>
   <table class="listGrid">
<%=  pagination_row :colspan=>7 unless @collection.nil? %>
     <tr>
       <th class="listActionCol"></th>
<%=    "<th>#{Feature.human_attribute_name(:pid).s}</th>" unless hide_feature_id %>
       <th><%= FeatureObjectType.model_name.human.titleize.s %></th>
       <th><%= ts 'priorit.y' %></th>
       <th><%= Note.model_name.human(:count => :many).titleize.s %></th>
       <th><%= ts 'add.record', :what => Note.model_name.human.titleize %></th>
       <th><%= t('date.this', :count => :many).titleize.s.s %></th>
       <th><%= ts 'add.record', :what => t('date.this', :count => 1).titleize %></th>
     </tr>
<%   list = list.sort_by{|a| a.position}
     list.each do |item| 
       next if item.feature.nil? 
       path = admin_feature_feature_object_type_path(item.feature, item) %>
       <tr><td class="listActionsCol">
<%=    list_actions_for_item item, :view_path => path, :delete_path => path, :edit_path => edit_admin_feature_feature_object_type_path(item.feature, item) %>
       </td>    
<%=    "<td>#{item.feature.pid}</td>" unless hide_feature_id %>
       <td><%= item.category.title if !item.category.nil? %></td>
       <td><%= item.position.to_s %></td>
       <td><%= note_link_list_for item %></td>
       <td><%= new_note_link_for item %></td>
       <td><%= time_unit_link_list_for item %></td>
       <td><%= new_time_unit_link_for item %></td></tr>
<%   end %>
   </table>
<% end %>