<%  add_breadcrumb_item feature_link(object.feature)
    add_breadcrumb_item link_to(FeatureObjectType.model_name.human(count: :many).s, collection_path)
    add_breadcrumb_item ts('new.this') %>
<section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= FeatureObjectType.model_name.human.titleize.s %></h6>
  </div>
  <div class="panel-body">
<%= form_for [:admin, parent_object, object] do |f| %>
      <table class='mobj' border='0' cellspacing='0'>
        <%=   render partial: 'form_fields', locals: {f: f, object: object} %>
        <tr>
          <td></td>
          <td><%= link_to ts('cancel.this'), admin_feature_path(parent_object.fid), class: 'btn btn-primary form-submit', id: 'edit-cancel' %> | <%= globalized_submit_tag 'creat.e.this', class: 'btn btn-primary form-submit' %> </td>
        </tr>
      </table>
<%  end %>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
