<%= javascript_include_tag 'jquery.ajax.sortable' %>
<%= javascript_on_load do %>
    jQuery('#featureObjectTypesList').ajaxSortable({
      action: '<%= "#{admin_feature_object_types_path}/set_priorities" %>',
      object_id: <%= @feature.id.to_s %>
    });
<% end
   add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@feature)
   add_breadcrumb_item ts('change.record', :what => t('priorit.ization_of.feature_types')) %>
<div>
  <h1><%= ts('change.record', :what => t('priorit.ization_of.feature_types')) %>: <%= f_label(@feature) %></h1>
</div>
<p class="page-tip"><%= ts 'snippet.feature.type.drag_priority' %></p>
<% list = @feature.feature_object_types
   if list.empty? %>
<%=  empty_collection_message %>
<% else %>
   <table class="listGrid" id="featureObjectTypesList">
<%=  pagination_row :colspan=>6 unless @collection.nil? %>
     <tr>
       <th class="listActionsCol"></th>
       <th><%= FeatureObjectType.model_name.human.titleize.s %></th>
       <th><%= ts 'priorit.y' %></th>
     </tr>
<%   list.sort!{ |a,b| a.position <=> b.position }
     list.each do |item|
	   path = admin_feature_feature_object_type_path(item.feature, item) %>
       <tr id="feature_object_type_<%= item.id.to_s %>"><td>
<%=    list_actions_for_item(item, :delete_path => path, :view_path => path,
         :edit_path => edit_admin_feature_feature_object_type_path(item.feature, item)) %>
       </td>
       <td><%= item.category.title %></td>
       <td class="sortable-priority-value"><%= item.position.to_s %></td></tr>
<%   end %>
   </table>
<% end %>
<div class="returnLink">
<%= link_to "&#8592; #{ts 'snippet.feature.return'}", admin_feature_path(@feature) %>
</div>