<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<%= javascript_include_tag 'jquery.ajax.sortable' %>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('#featureObjectTypesList').ajaxSortable({
		action: '<%= "#{admin_feature_object_types_path}/set_priorities" %>',
		object_id: <%= @feature.id.to_s %>
	});
});
</script>

<%
add_breadcrumb_item features_link
add_breadcrumb_item feature_link(@feature)
add_breadcrumb_item "Change Prioritization of Feature Types"
%>

<div>
<h1>Change Prioritization of Feature Types: <%= f_label(@feature) %></h1>
</div>
<p class="page-tip">
	Click a feature type and drag to a new location to indicate the priority between the different feature types. This priority sequencing of feature types will be used to decide which feature types to show on maps, the navigational tree, and other contexts.
</p>

<% list = @feature.feature_object_types %>

<% if list.empty? %>
	<%= empty_collection_message %>
<% else %>

<table class="listGrid" id="featureObjectTypesList">
	
	<%= pagination_row :colspan=>6 unless @collection.nil? %>
	
	<tr>
		<th class="listActionsCol"></th>
		<th>Feature Type</th>
		<th>Timespan</th>
		<th>Priority</th>
	</tr>
	<% list.sort!{ |a,b| a.position <=> b.position } %>
	<% list.each do |item| %>
	<tr id="feature_object_type_<%= item.id.to_s %>">
		<td>
			<%= list_actions_for_item(item,
				{
				  :delete_path => admin_feature_feature_object_type_path(item.feature, item),
				  :edit_path   => edit_admin_feature_feature_object_type_path(item.feature, item),
				  :view_path   => admin_feature_feature_object_type_path(item.feature, item)
			  }
			) %>
		</td>
		<td><%= item.object_type.title %></td>
		<td><%= formatted_timespan item.timespan %></td>
		<td class="sortable-priority-value"><%= item.position.to_s %></td>
		
	</tr>
	<% end %>
</table>
<% end %>

<div class="returnLink">
<%= link_to "&#8592; Return to this feature's home page", admin_feature_path(@feature) %>
</div>