<p><%= ts('snippet.location') %></p>
<fieldset>
  <legend><%= Shape.human_name.titleize.s %></legend>
  <div class="row">
<%= f.label :latitude, ts('location.latitude') %>
<%= f.text_field :lat, :class => :text %>
  </div>
  <div class="row">
<%= f.label :longitude, ts('location.longitude') %>
<%= f.text_field :lng, :class => :text %>
  </div>
  <div class="row">
<%= f.label(:altitude).s %>
<%= f.text_field :altitude, :class => :text %>
  </div>	
</fieldset>