<%= javascript_include_tag 'kmaps_engine/jquery.ajax.sortable' %>
<%= javascript_on_load do %>
  jQuery('#featureShapesList').ajaxSortable({
    action: '<%= "/admin/shapes/set_priorities" %>',
    object_id: <%= @feature.id.to_s %>
  });
<% end
   add_breadcrumb_item feature_link(@feature)
   add_breadcrumb_item ts('change.record', :what => t('priorit.ization_of.shapes')) %>
 <section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= ts('change.record', :what => t('priorit.ization_of.locations')) %></h6>
  </div>
  <div class="panel-body">
<div>
  <h1><%= ts('change.record', :what => t('priorit.ization_of.locations')) %>: <%= f_label(@feature) %></h1>
</div>
<p class="page-tip"><%= ts 'snippet.location.drag_priority' %></p>
<% list = @feature.shapes.order(:position)
   if list.empty? %>
<%=  empty_collection_message %>
<% else %>
   <table class="listGrid" id="featureShapesList">
<%=  pagination_row :colspan=>6 unless @collection.nil? %>
     <tr>
       <th><%= Shape.human_attribute_name(:gid).s %></th>
       <th><%= Shape.model_name.human(:count => :many).titleize.s %></th>
       <th><%= ts 'priorit.y' %></th>
     </tr>
<%   list.each do |item| %>
     <tr id="feature_shape_<%= item.id.to_s %>">
       <td><%= item.gid.to_s %></td>
       <td><%=h shape_display_string(item) %></td>
       <td class="sortable-priority-value"><%= item.position.to_s %></td>
     </tr>
<%   end %>
   </table>
<% end %>
<div class="returnLink">
<%= link_to "&#8592; #{ts 'snippet.feature.return'}".html_safe, admin_feature_path(@feature.fid) %>
</div>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
