<%
add_breadcrumb_item features_link
add_breadcrumb_item feature_link(@object.feature)
add_breadcrumb_item feature_shapes_link(@object.feature)
add_breadcrumb_item @object
%>

<fieldset>
	
	<legend>
		<%= model_name.titleize %>
		<%= edit_item_link @object %>
	</legend>
	
	<div class="row">
		<label>GID</label>
		<span><%= def_if_blank(@object, :gid) %></span>
	</div>
	
	<% if @object.is_point? %>
	<div class="row">
		<label>Latitude</label>
		<span><%= def_if_blank(@object, :lat) %></span>
	</div>
	
	<div class="row">
		<label>Longitude</label>
		<span><%= def_if_blank @object, :lng %></span>
	</div>
	<% else %>
	<div class="row">
		<label>Locations</label>
		<span><%= shape_display_string(@object) %></span>
	</div>
	<% end %>
	
</fieldset>

<%= note_list_fieldset %>