<fieldset>	
	<legend><%= ts :for, :what => Altitude.model_name.human.titleize, :whom => @parent_object.name %></legend>
<%= f.hidden_field :id %>
	<div class="row">
<%= f.label(:average).s %>
<%= f.text_field :average, :class => :text %>
    </div>
	<div class="row">
<%= f.label(:estimate).s %>
<%= f.text_field :estimate, :class => :text %>
    </div>
	<div class="row">
<%= f.label(:minimum).s %>
<%= f.text_field :minimum, :class => :text %>
    </div>
	<div class="row">
<%= f.label(:maximum).s %>
<%= f.text_field :maximum, :class => :text %>
    </div>
	<div class="row">
<%= f.label(:unit).s %>
<%= f.collection_select(:unit_id, Unit.options, :id, :title, { :include_blank => false }) %>
	</div>
</fieldset>