<fieldset>	
	<legend>Altitude for <%= @parent_object.name %></legend>	
<%= f.hidden_field :id %>
	<div class="row">
<%= f.label :average %>
<%= f.text_field :average, :class => :text %>
    </div>
	<div class="row">
<%= f.label :minimum %>
<%= f.text_field :minimum, :class => :text %>
    </div>
	<div class="row">
<%= f.label :maximum %>
<%= f.text_field :maximum, :class => :text %>
    </div>
	<div class="row">
<%= f.label :unit %>
<%= f.collection_select(:unit_id, Unit.options, :id, :title, { :include_blank => false }) %>
	</div>
	<div class="row">
		<%= f.label '' %>
		<%= f.label '' %>		
	</div>  
</fieldset>