<% if list.empty? %>
<%=  empty_collection_message %>
<% else %>
   <table class="listGrid">
     <tr>
       <th class="listActionsCol"></th>
       <th><%= FeatureName.human_name.titleize.s %></th>
       <th><%= FeatureNameType.human_name.titleize.s %></th>
       <th><%= Language.human_name.titleize.s %></th>
       <th><%= WritingSystem.human_name.titleize.s %></th>
       <th><%= ts 'relat.ion.ship.this' %></th>
       <th><%= ts 'priorit.y' %></th>
       <th><%= Note.human_name(:count => :many).titleize.s %></th>
       <th><%= ts 'add.record', :what => Note.human_name.titleize %></th>
       <th><%= t('date.this', :count => :many).titleize.s.s %></th>
       <th><%= ts 'add.record', :what => t('date.this').titleize %></th>
     </tr>
<%= pagination_row :colspan=>8 unless @collection.nil? %>
<%= feature_name_tr(@feature) %>
   </table>
<% end %>