<% if list.empty? %>
<%=  empty_collection_message %>
<% else %>
   <table class="listGrid">
     <tr>
       <th class="listActionsCol"></th>
       <th><%= FeatureName.model_name.human.titleize.s %></th>
       <th><%= FeatureNameType.model_name.human.titleize.s %></th>
       <th><%= Language.model_name.human.titleize.s %></th>
       <th><%= WritingSystem.model_name.human.titleize.s %></th>
       <th><%= ts 'relat.ion.ship.this' %></th>
       <th><%= ts 'priorit.y' %></th>
       <th><%= Note.model_name.human(:count => :many).titleize.s %></th>
       <th><%= ts 'add.record', :what => Note.model_name.human.titleize %></th>
       <th><%= t('date.this', :count => :many).titleize.s.s %></th>
       <th><%= ts 'add.record', :what => t('date.this', :count => 1).titleize %></th>
     </tr>
<%= pagination_row :colspan=>8 unless @collection.nil? %>
<%= feature_name_tr(@feature) %>
   </table>
<% end %>