<% add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@object.feature)
   add_breadcrumb_item feature_names_link(@object.feature)
   add_breadcrumb_item link_to(@object.name, admin_feature_name_path(@object))
   add_breadcrumb_item ts('edit.this') %>
<div><h1><%= ts 'edit.ing.record', :what => FeatureName.model_name.human.titleize.s %>: <%= @object %></h1></div>
<br class="clear"/>
<%= form_for @object, :url => admin_feature_name_path(@object), :method => :put do |f| %>
<%=  render :partial=>'form_fields', :locals=>{:f=>f} %>
<%=  link_to ts('cancel.this'), admin_feature_name_path(@object) %> | <%= globalized_submit_tag 'update.this' %>
<% end %>
