<% # if we're showing the names of a particular Feature
if @parent_object
  add_breadcrumb_item features_link
  add_breadcrumb_item feature_link(@parent_object)
  add_breadcrumb_item FeatureName.model_name.human(:count => :many).s
end
if @locating_relation
  add_breadcrumb_item features_link
  add_breadcrumb_item feature_link(@object.feature)
  add_breadcrumb_item link_to(FeatureName.model_name.human(:count => :many).s, admin_feature_feature_names_path(@object.feature))
  add_breadcrumb_item link_to(@object.id, admin_feature_feature_name_path(@object.feature, @object))
  add_breadcrumb_item ts('relat.ion.location')
end %>
<div>
  <div class="right"><%= resource_search_form %></div>
<% if @parent_object %>
     <h2><%= ts :for, :what => FeatureName.model_name.human(:count => :many).titleize, :whom => f_label(@parent_object) %></h2>
<% end %>
<% unless @locating_relation %>
     <div class="highlight left">
<%     # Don't show the new link if there is no @feature (a feature name must belong to a features) %>
<%=    parent? ? ts(:for, :what => new_item_link([@parent_object, :feature_name]), :whom => feature_link(@parent_object)) : ts('creat.e.requirement', :what => FeatureNameRelation.model_name.human, :whom => t('snippet.feature.name.resource')) %>
     </div>
<% end %>
</div>
<br class="clear"/>
<br class="clear"/>
<% if @locating_relation %>
<div>
<h1><%= ts 'select.relation', :what => FeatureName.model_name.human, :whom => h(@object.name) %></h1>
</div>
<br class="clear"/>
<% end %>
<%= render :partial => 'names_list', :locals => { :list => @collection } %>