<% add_breadcrumb_item features_link
if parent_object
  add_breadcrumb_item feature_link(parent_object)
  add_breadcrumb_item feature_names_link(parent_object)
  add_breadcrumb_item ts('new.this')
end %>
<div><h1><%= ts :for, :what => t('creat.ing', :what => t('new.record', :what => FeatureName.model_name.human.titleize)), :whom => "#{Feature.model_name.human.titleize} #{parent_object}" %></h1></div>
<br class="clear"/>
<%= form_for object, :url=>admin_feature_feature_names_path(parent_object) do |f| %>
<%=  f.hidden_field :feature_id, :value=>params[:feature_id] %>
<%=  render :partial=>'form_fields', :locals=>{:f=>f, :object=>object} %>
<%   # Make the cancel link go back to the selected feature's names if it exists %>
<%=  link_to ts('cancel.this'), parent_object ? admin_feature_feature_names_path(parent_object) : admin_feature_names_path %> |
<%=  globalized_submit_tag 'creat.e.this', :class=>'submit' %>
<% end %>