<%= javascript_include_tag 'jquery.ajax.sortable' %>
<%= javascript_on_load do %>
	jQuery('#featureNamesList').ajaxSortable({
		action: '<%= "#{admin_feature_names_path}/set_priorities" %>',
		object_id: <%= @feature.id.to_s %>
	});
<% end
   add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@feature)
   add_breadcrumb_item ts('change.record', :what => t('priorit.ization_of.names')) %>
<div>
<h1><%= ts('change.record', :what => t('priorit.ization_of.names')) %>: <%= f_label(@feature) %></h1>
</div>
<p class="page-tip"><%= ts 'snippet.feature.name.drag_priority' %></p>
<% list = @feature.names
   if list.empty? %>
<%=  empty_collection_message %>
<% else %>
     <table class="listGrid" id="featureNamesList">
<%=  pagination_row :colspan=>6 unless @collection.nil? %>
     <tr>
       <th class="listActionsCol"></th>
       <th><%= FeatureName.model_name.human.titleize.s %></th>
       <th><%= FeatureNameType.model_name.human.titleize.s %></th>
       <th><%= Language.model_name.human.titleize.s %></th>
       <th><%= WritingSystem.model_name.human.titleize.s %></th>
       <th><%= ts 'relat.ion.ship.this' %></th>
       <th><%= ts 'priorit.y' %></th>
     </tr>
<%   list.sort!{ |a,b| a.position <=> b.position }
     list.each do |item| %>
       <tr id="feature_name_<%= item.id.to_s %>">
         <td class="centerText">
<%       if @locating_relation %>
<%=        form_tag new_admin_feature_name_feature_name_relation_path(@feature), {:method=>:get} %>
<%=          hidden_field_tag :target_id, item.id %>
<%=          globalized_submit_tag 'select.this' %>
           </form>
<%       else
           path = admin_feature_feature_name_path(item.feature, item) %>
<%=        list_actions_for_item(item, :delete_path => path, :edit_path => path, :view_path => path, :hide_view => true) %>
<%       end %>
         </td>
         <td><%= concise_fname_breadcrumb(item) %></td>
         <td><%= def_if_blank(item, :class) %></td>
         <td><%= def_if_blank(item, :language) %></td>
         <td><%= def_if_blank(item, :writing_system) %></td>
         <td><%= fn_relationship(item) %></td>
         <td class="sortable-priority-value"><%= item.position.to_s %></td>
       </tr>
<%   end %>
     </table>
<% end %>
<div class="returnLink">
<%= link_to "&#8592; #{ts 'snippet.feature.return'}".html_safe, admin_feature_path(@feature) %>
</div>