<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<%= javascript_include_tag 'jquery.ajax.sortable' %>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('#featureNamesList').ajaxSortable({
		action: '<%= "#{admin_feature_names_path}/set_priorities" %>',
		object_id: <%= @feature.id.to_s %>
	});
});
</script>

<%
add_breadcrumb_item features_link
add_breadcrumb_item feature_link(@feature)
add_breadcrumb_item "Change Prioritization of Names"
%>

<div>
<h1>Change Prioritization of Names: <%= f_label(@feature) %></h1>
</div>
<p class="page-tip">
	Click a name and drag to a new location to indicate the priority between the different names. This priority sequencing of names will be used to decide which name to show on maps, the navigational tree, and other contexts. Thus if there are two version of popular romanization of a name, for example, the prioritized one will be chosen; of if there are two alternative names, the prioritized one will be displayed; and so forth.
</p>

<% list = @feature.names %>

<% if list.empty? %>
	<%= empty_collection_message %>
<% else %>

<table class="listGrid" id="featureNamesList">
	
	<%= pagination_row :colspan=>6 unless @collection.nil? %>
	
	<tr>
		<th class="listActionsCol"></th>
		<th>Name</th>
		<th>Type</th>
		<th>Language</th>
		<th>Script</th>
		<th>Relationship</th>
		<th>Priority</th>
	</tr>
	<% list.sort!{ |a,b| a.position <=> b.position } %>
	<% list.each do |item| %>
	<tr id="feature_name_<%= item.id.to_s %>">
		<td class="centerText">
			<% if @locating_relation %>
			<%= form_tag new_admin_feature_name_feature_name_relation_path(@feature), {:method=>:get} %>
				<%= hidden_field_tag :target_id, item.id %>
				<%= submit_tag 'Select' %>
			</form>
			<% else %>
			<%= list_actions_for_item(item,
				{
				  :delete_path => admin_feature_feature_name_path(item.feature, item),
				  :edit_path   => admin_feature_feature_name_path(item.feature, item),
				  :view_path   => admin_feature_feature_name_path(item.feature, item),
				  :hide_view   => true
			  }
			) %>
			<% end %>
		</td>
		
		<td><%= concise_fname_breadcrumb(item) %></td>
		
		<td><%= def_if_blank(item, :class) %></td>
		<td><%= def_if_blank(item, :language) %></td>
		<td><%= def_if_blank(item, :writing_system) %></td>
		<td><%= fn_relationship(item) %></td>
		<td class="sortable-priority-value"><%= item.position.to_s %></td>
		
	</tr>
	<% end %>
</table>
<% end %>

<div class="returnLink">
<%= link_to "&#8592; Return to this feature's home page", admin_feature_path(@feature) %>
</div>