<% add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@object.feature)
   add_breadcrumb_item @object.name %>
<div>
  <h1><%= FeatureName.model_name.human.titleize.s %>: <%= @object %></h1>
</div>
<br class="clear"/>
<fieldset>
  <legend><%= ts 'information.general' %> <%= edit_item_link @object %></legend>
  <div class="row">
    <label><%= FeatureName.model_name.human.titleize.s %>:</label> <span><%= @object.name %></span>
  </div>
  <div class="row">
    <label><%= FeatureName.human_attribute_name(:etymology).s %>:</label> <span><%= def_if_blank @object, :etymology %></span>
  </div>
  <div class="row">
    <label><%= FeatureNameType.model_name.human.titleize.s %>:</label> <span><%= def_if_blank @object, :class, :name %></span>
  </div>
  <div class="row">
     <label><%= Language.model_name.human.titleize.s %>:</label> <span><%= def_if_blank @object, :language, :name %></span>
  </div>
  <div class="row">
     <label><%= WritingSystem.model_name.human.titleize.s %>:</label> <span><%= def_if_blank @object, :writing_system, :name %></span>
  </div>
  <div class="row">
    <label><%= FeatureName.human_attribute_name(:is_primary_for_romanization).s %></label> <span><%= yes_no @object.is_primary_for_romanization %></span>
  </div>  
  <div class="row">
    <label><%= ts 'creat.e.d' %>:</label> <span><%= @object.created_at.to_formatted_s(:us_datetime) %></span>
  </div>
  <div class="row">
    <label><%= ts 'update.d.this' %>:</label> <span><%= @object.updated_at.to_formatted_s(:us_datetime) %></span>
  </div>
</fieldset>
<fieldset>
  <legend><%= FeatureNameRelation.model_name.human(:count => :many).titleize.s %> <%#= link_to 'View', admin_feature_name_feature_name_relations_path(@object) %></legend>
  <div class="left highlight">
    <%= link_to ts('select.relation', :what => FeatureName.model_name.human, :whom => highlight(@object.name)), locate_for_relation_admin_feature_name_path(@object) %>.
  </div>
  <br class="clear"/>
<% if object.parents.empty? && object.children.empty? %>
<%=  empty_collection_message(ts('snippet.feature.name.not_related')) %>
<% end
   unless @object.parents.empty? %>
<%=  content_tag(:h3, ts('parent.this', :count => :many)) %>
<%   (@object.parents).each do |parent| %>
     <div class="row">
<%=    parent.name %>
<%=    render :partial => 'admin/feature_name_relations/relations_list', :locals => { :list => parent.relations.select {|r| r.child_node == @object}, :parent => parent, :options => {:hide_child => true, :hide_related_to => true} } %>
     </div>
<%   end
   end
   unless @object.children.empty? %>
<%=  content_tag(:h3, ts('child', :count => :many)) %>
<%   (@object.children).each do |child| %>
       <div class="row">
<%=      ts 'snippet.feature.name.has_transliteration', :what => "\'#{@object.name}\'", :whom => link_to(child.name, admin_feature_name_path(child)) %>
 <%=     render :partial => 'admin/feature_name_relations/relations_list', :locals => { :list => child.relations.select {|r| r.parent_node == @object} } %>
       </div>
<%   end
   end %>
</fieldset>
<%= citation_list_fieldset %>
<%= note_list_fieldset %>
<%= time_unit_list_fieldset %>