<h1>Editing contestation</h1>

<% form_for(@contestation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :feature_id %><br />
    <%= f.text_field :feature_id %>
  </p>
  <p>
    <%= f.label :contested %><br />
    <%= f.check_box :contested %>
  </p>
  <p>
    <%= f.label :administered_by %><br />
    <%= f.text_field :administered_by %>
  </p>
  <p>
    <%= f.label :claimed_by %><br />
    <%= f.text_field :claimed_by %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @contestation %> |
<%= link_to 'Back', contestations_path %>
