<h1>Listing contestations</h1>

<table>
  <tr>
    <th>Feature</th>
    <th>Contested</th>
    <th>Administered by</th>
    <th>Claimed by</th>
  </tr>

<% for contestation in @contestations %>
  <tr>
    <td><%=h contestation.feature_id %></td>
    <td><%=h contestation.contested %></td>
    <td><%=h contestation.administered_by %></td>
    <td><%=h contestation.claimed_by %></td>
    <td><%= link_to 'Show', contestation %></td>
    <td><%= link_to 'Edit', edit_contestation_path(contestation) %></td>
    <td><%= link_to 'Destroy', contestation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contestation', new_contestation_path %>
