<% title = d.title.blank? ? "Essay" : d.title %>
<% expand_options = {:url => expand_feature_description_path(feature,d), :method => 'get'} %>
<p class='description-author'>
	<%= link_to_remote '.', expand_options,  { :class => 'descriptionplus_icon' } %>
    <span class='title'><%= link_to_remote title.s, expand_options %></span>
	<% if !d.authors.empty? %>
        <span class='by'><%= ' by ' %></span>
        <span class='content_by'><%= "#{ join_with_and(d.authors.collect{|a| a.screen_name.to_s.s})}" %></span>
	<% end %>	
	<span class='last_updated'>(<%= "#{h(d.updated_at.to_date.to_formatted_s(:long))}" %>)...</span>
	<%= time_units_for d %>
	<%= note_popup_link_for(d) %>
</p>
