<p class='description-author'>
	<%=   link_to_remote '.', {:url => contract_feature_description_path(feature,d), :update => "#{d.id}_descdiv", :method => 'get'},  { :class => 'descriptionminus_icon' }  %>        
	<% if !d.title.blank? %>  
	<%   if !d.authors.empty? %>
		     <span class='title'><%= d.title %></span>
		     <span class='by'><%= ' by ' %></span>
	         <span class='content_by'><%= "#{ join_with_and(d.authors.collect{|a| a.screen_name})}" %></span>
	<%   else %>
	         <span class='title'><%= d.title %></span>
	<%   end %>
	<% else %>     
	<%   if !d.authors.empty? %>
	         <span class='title'>Description</span>
	         <span class='by'><%= ' by ' %></span>
		     <span class='content_by'><%= "#{ join_with_and(d.authors.collect{|a| a.screen_name})}" %></span>
	<%   end %>
	<% end %>
	<span class='last_updated'>(<%= "#{h(d.updated_at.to_date.to_formatted_s(:long))}" %>)</span>	
</p>
<div class='expanded' id="desc_truncated_<%= d.id %>">
	<%= truncate_html(d.content, 700,
		'... ' + link_to_function( 'Read more', "$('#desc_truncated_#{d.id}').hide();$('#desc_full_#{d.id}').show()" )) %>
</div>
<div class='expanded' id="desc_full_<%= d.id %>" style="display: none;">
	<%= d.content %>
</div>

