<% title = d.title.blank? ? Description.model_name.human.titleize.s : d.title %>
<h2 class="description-title">&#8226; <%= link_to title.s, feature_description_path(feature.fid, d) %></h2>
<p class='description-author'>
<%  if !d.authors.empty? %>
      <span class='by'><%= ' by ' %></span>
      <span class='content_by'><%= join_with_and(d.authors.collect(&:fullname)) %></span>
<%  end %>
    <span class='last_updated'>(<%= h(d.updated_at.to_date.to_formatted_s(:long)) %>)</span>
<%= note_popup_link_for(d) %>  
</p>
<%= time_units_for d %>
<div class='expanded' id="desc_truncated_<%= d.id %>">
<%= truncate_html(d.content, 700, '... ' + link_to(ts(:read_more), feature_description_path(d.feature.fid, d))) %>
</div>