<% if @feature.descriptions.size > 0 %>
   <p>
<%=  ts 'view.record', :what => t(:other, :what => Description.model_name.human(:count => :many)) %>:
<%   description_options = @feature.descriptions.collect{|desc| [strip_tags(description_simple_title(desc)), feature_description_url(@feature.fid, desc)]}.sort %>
<%=  select_tag :description_menu, options_for_select(description_options, feature_description_url(@feature.fid, @description.id)), :onchange => "window.location = jQuery(this).val()" %>
   </p>
<% end %>
<div id="descriptions_div">
  <h2 class="description-title">
<%= description_title(@description).s %>
  </h2>
<% unless @description.source_url.blank? %>
<%   source_url = @description.source_url =~ /^\// ? "#{ThlSite.get_url}#{@description.source_url}" : @description.source_url %>
     <p class="view-essay-in-publication">
<%=    link_to ts(:in, :what => t('see.record', :what => t('this.record', :what => Description.model_name.human)), :where => t(:its_original_publication)), source_url %>
     </p>
<% end %>
<%= note_popup_link_for(@description) %>
  <div>
<%= @description.content.html_safe %>
  </div>
</div>