<% @selected_tab = 2 %>
<%= render :partial => "features/top" %>

		  <!-- sets up the tabs for jquery -->
		  <ul>
		    <li><a href="<%= ActionController::Base.relative_url_root %>/"><span>Home</span></a></li>
		    <li><a href="<%= feature_path @feature.fid %>"><span>Place</span></a></li>
		    <li><a href="#FeatureDescription"><span>Essays (<%= "#{@feature.descriptions.length}" %>)</span></a></li>
		    <li><a href="<%= related_feature_path @feature.fid %>"><span>Related</span></a></li>
		  </ul>
			<div id="FeatureDescription">
				<div class="has-right-margin">
					<%= render :partial => "show" %>
				</div>
			</div>

<%= javascript_on_load "document.title = 'THL Place Dictionary - #{description_simple_title(@description)}'" %>

<%= render :partial => "features/bottom" %>