<%= tagged_tinymce_script %>
<style type="text/css">
input[type=text] {
	width:35em;
	padding:.1em;
	display: inline-block;
	border:none; 
	padding:5px; 
	font:normal normal normal verdana, arial, sans-serif;
	font-size:100%;
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
}
</style>
<%= error_messages_for model_name %>
<fieldset>
  <legend>
<%= model_name.titleize %>
  </legend>	
  <div class="row">
<%= f.label :feature, Feature.model_name.human.s %>
    <span><%= f_label(@object.feature) %></span>
  </div>
  <div class="row">
<%= f.label :geo_code_type, GeoCodeType.model_name.human.s %>
<%= f.collection_select(:geo_code_type_id, GeoCodeType.all, :id, :to_s, :include_blank=>true) %>
  </div>
  <div class="row">
<%= f.label(:value).s %>
<%= f.text_field :geo_code_value, :class => :text %>
  </div>
</fieldset>