<% if list.empty? %>
<%=  empty_collection_message %>
<% else %>
   <table class="listGrid">
<%=  pagination_row :colspan=>7 unless @collection.nil? %>
     <tr>
       <th class="listActionsCol"></th>
       <th><%= Feature.model_name.human.titleize.s %></th>
       <th><%= FeatureGeoCode.human_attribute_name(:geo_code_value).s %></th>
       <th><%= GeoCodeType.model_name.human.titleize.s %></th>
       <th><%= Note.model_name.human(:count => :many).titleize.s %></th>
       <th><%= ts 'add.record', :what => Note.model_name.human.titleize %></th>
       <th><%= t('date.this', :count => :many).titleize.s %></th>
       <th><%= ts 'add.record', :what => t('date.this', :count => 1).titleize %></th>
     </tr>
<%   list.each do |item| %>
     <tr>
       <td class="centerText">
<%=      list_actions_for_item(item, :delete_path => item.feature.nil? ? admin_feature_geo_code_path(item) : admin_feature_feature_geo_code_path(item.feature, item),
         :edit_path => item.feature.nil? ? edit_admin_feature_geo_code_path(item) : edit_admin_feature_feature_geo_code_path(item.feature, item),
         :view_path => item.feature.nil? ? admin_feature_geo_code_path(item) : admin_feature_feature_geo_code_path(item.feature, item)) %>
       </td>
       <td><%= item.feature %></td>
       <td><%= item.geo_code_value %></td>
       <td><%= def_if_blank(item, :class) %></td>
       <td><%= note_link_list_for item %></td>
       <td><%= new_note_link_for item %></td>
       <td><%= time_unit_link_list_for item %></td>
       <td><%= new_time_unit_link_for item %></td>
     </tr>
<%   end %>
   </table>
<% end %>