<%
add_breadcrumb_item features_link
add_breadcrumb_item feature_link(@object.feature)

add_breadcrumb_item link_to (collection_name, admin_feature_feature_geo_codes_path(@parent_object))

add_breadcrumb_item @object
%>

<fieldset>
	
	<legend>
		<%= model_name.titleize %>
		<%= link_to 'Edit', edit_object_path(@object) %>
	</legend>
	
	<div class="row">
		<label>Feature</label>
		<span><%= def_if_blank(@object, :feature, :name) %></span>
	</div>
	
	<div class="row">
		<label>Geo Code Type</label>
		<span><%= def_if_blank @object, :geo_code_type %></span>
	</div>
	
	<div class="row">
		<label>Geo Code Value</label>
		<span><%= def_if_blank @object, :geo_code_value %></span>
	</div>
	
	<div class="row">
		<label>Timespan</label>: 
		<span><%= formatted_timespan @object.timespan %></span>
	</div>
	
</fieldset>

<fieldset>
	
	<legend>Citations</legend>
	<div class="left highlight">
	  <%= link_to 'New citation', new_admin_feature_geo_code_citation_path(@object) %>
	</div>
	<br class="clear"/>
	<%= render :partial => 'admin/citations/citations_list', :locals => { :list => @object.citations, :options => {:hide_type => true, :hide_type_value => true} } %>
	
</fieldset>

<%= note_list_fieldset %>