<%= tagged_tinymce_script %>
<%= error_messages_for model_name %>
<fieldset>
  <legend>
<%= NoteTitle.model_name.human.titleize.s %>
  </legend>
  <div class="row">
<%= f.label :title, NoteTitle.model_name.human.titleize.s %>
<%= f.text_field :title, :class => :text %>
  </div>
</fieldset>