<% options ||= {}
   if list.empty?
     unless options[:hide_empty_collection_message] %>
<%=    empty_collection_message("No notes available.") %>
<%   end
   else %>
     <table class="listGrid">
       <tr>
         <th class="listActionsCol"></th>
<%=      "<th>#{ts('type.adjective')}</th>" unless options[:hide_type] %>
<%=      "<th>#{ts('type.value')}</th>" unless options[:hide_type_value] %>
<%=      "<th>#{ts(:about)}</th>" unless options[:hide_association_type] %>
         <th><%= ts(:title) %></th>
         <th><%= ts(:author, :count => :many) %></th>
         <th><%= t('date.this', :count => :many).titleize.s %></th>
       </tr>
<%   list.each do |item| %>
	   <tr>
         <td class="listActionsCol">
<%=        list_actions_for_item(item, :delete_path => polymorphic_path([:admin, item.notable, item]),
  		   :edit_path => polymorphic_path([:admin, item.notable, item], :action => "edit"),
  		   :view_path => polymorphic_path([:admin, item.notable, item])) %>
         </td>
<%=      "<td>#{item.notable_type.titleize}</td>" unless options[:hide_type] %>
<%=      "<td>#{item.notable}</td>" unless options[:hide_type_value] %>
<%=      "<td>#{item.association_type_name}</td>" unless options[:hide_association_type] %>
         <td><%= item.title %></td>
         <td><%= item.authors.collect(&:fullname).join('<br />').s %></td>
         <td><%= formatted_date(item.updated_at) %></td>
       </tr>
<%   end %>
</table>
<% end %>