<%= tagged_tinymce_script %>
<%= error_messages_for 'blurb' %>
<fieldset>
	<legend><%= Blurb.model_name.human.titleize.s %></legend>
	<div class="row">
<%=   f.label(:title).s %>
<%=   f.text_field :title, :class => :text %>
	</div>
	<div class="row">
<%=   f.label(:code).s %>
<%=   f.text_field :code, :class => :text %>
	</div>
	<div class="row">
<%=   f.label(:content).s %>
	</div>
	<div class="row">
<%=   f.text_area :content, :rows=>4, :class => 'mceEditor' %>
	</div>
</fieldset>