<% add_breadcrumb_item link_to (collection_name, collection_path)
   add_breadcrumb_item @blurb %>
<fieldset>
  <legend><%= Blurb.model_name.human.titleize.s %> <%= edit_item_link @blurb %></legend>
  <div class="row">
    <label><%= Blurb.human_attribute_name(:title).s %></label>
    <span><%= def_if_blank(@blurb, :title) %></span>
  </div>
  <div class="row">
    <label><%= Blurb.human_attribute_name(:code).s %></label>
    <span><%= def_if_blank @blurb, :code %></span>
  </div>
  <div class="row">
    <label><%= Blurb.human_attribute_name(:content).s %></label>
    <span><%= def_if_blank(@blurb, :content).html_safe %></span>
  </div>	
</fieldset>