<%= error_messages_for :feature_relation %>
<% @object[:feature_relation_type_id_] = @object.feature_relation_type_id %>
<fieldset>
  <legend><%= ts(:for, :what => t('relation.this').titleize, :whom => fname_labels(@parent_object)) %></legend>
<%= f.hidden_field :parent_node_id %>
<%= f.hidden_field :child_node_id %>
  <div class="row">
<%= f.label :feature_relation_type_id_, FeatureRelationType.model_name.human.titleize.s %>
<%= fname_labels(@parent_object) %>
<%= f.select :feature_relation_type_id_, FeatureRelationType.marked_options(@parent_object.id == @object.parent_node_id) %>
<%= fname_labels(@object.other_node(@parent_object)) %>
  </div>
  <div class="row">
<%= f.label :perspective_id, Perspective.model_name.human.titleize.s %>
<%= f.collection_select :perspective_id, Perspective.all, :id, :name %>
  </div>
</fieldset>
