<%= error_messages_for :feature_name_relation %>
<script type="text/javascript">
function toggle_yes_radio(select_element, radio_prefix){
	if($(select_element).val() != ""){
		$('#'+radio_prefix+'_0').removeAttr('checked');
		$('#'+radio_prefix+'_1').attr('checked', 'checked');
	}else{
		$('#'+radio_prefix+'_1').removeAttr('checked');
		$('#'+radio_prefix+'_0').attr('checked', 'checked');
	}
	return true;
}
</script>
<div>
<%= content_tag(:h1, ts('edit.ing.record', :what => t('relat.ion.ship.between', :this => @object.parent_node.name, :that => @object.child_node.name))) %>
</div>
<br class="clear"/>
<fieldset>
  <legend><%= ts('information.general') %></legend>
  <div class="inlineRow">
<%= f.label :is_translation, ts('is.translation', :this => feature_name_label(@object.child_node), :that => feature_name_label(@object.parent_node)) %>
<%= yes_no_radios(f, :is_translation, {:class => 'yesno-inline'}) %>
  </div>
  <div class="inlineRow">
<%= f.label :is_phonetic, ts('is.phonetic', :this => feature_name_label(@object.child_node), :that => feature_name_label(@object.parent_node)) %>
<%= yes_no_radios(f, :is_phonetic, {:class => 'yesno-inline'}, {}, {:onclick => "$('#feature_name_relation_phonetic_system_id').val('')"}) %>
    <div class="elements">
<%=   f.collection_select(:phonetic_system_id, PhoneticSystem.order('UPPER(name)'), :id, :to_s, {:include_blank => true}, {:onchange => "toggle_yes_radio(this, 'feature_name_relation_is_phonetic')"}) %>
<%=   f.label :phonetic_system_id, PhoneticSystem.model_name.human.titleize.s %>
    </div>
  </div>
  <div class="inlineRow">
<%= f.label :is_orthographic, ts('is.orthographic', :this => feature_name_label(@object.child_node), :that => feature_name_label(@object.parent_node)) %>
<%= yes_no_radios(f, :is_orthographic, {:class => 'yesno-inline'}, {}, {:onclick => "$('#feature_name_relation_orthographic_system_id').val('')"}) %>
    <div class="elements">
<%=   f.collection_select(:orthographic_system_id, OrthographicSystem.order('UPPER(name)'), :id, :to_s, {:include_blank => true}, {:onchange => "toggle_yes_radio(this, 'feature_name_relation_is_orthographic')"}) %>
<%=   f.label :orthographic_system_id, OrthographicSystem.model_name.human.titleize.s %>
    </div>
  </div>
  <div class="inlineRow">
<%= f.label :is_alt_spelling, ts('is.alt_spelling', :this => feature_name_label(@object.child_node), :that => feature_name_label(@object.parent_node)) %>
<%= yes_no_radios(f, :is_alt_spelling, {:class => 'yesno-inline'}, {}, {:onclick => "$('#feature_name_relation_alt_spelling_system_id').val('')"}) %>
    <div class="elements">
<%=   f.collection_select(:alt_spelling_system_id, AltSpellingSystem.order('UPPER(name)'), :id, :to_s, {:include_blank => true}, {:onchange => "toggle_yes_radio(this, 'feature_name_relation_is_alt_spelling')"}) %>
<%=   f.label :alt_spelling_system_id, AltSpellingSystem.model_name.human.titleize.s %>
    </div>
  </div>
</fieldset>