<% add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@object.feature)
   add_breadcrumb_item feature_names_link(@object.feature)
   add_breadcrumb_item feature_name_link(@object.child_node)
   add_breadcrumb_item link_to(ts('relation.this', :count => :many), admin_feature_name_feature_name_relations_path(@object.child_node))
   add_breadcrumb_item @object %>
<fieldset>
  <legend><%= ts 'information.general' %> <%= edit_item_link @object %></legend>
  <div class="inlineRow">
    <label><%= ts 'is.translation', :this => feature_name_label(@object.child_node), :that => feature_name_label(@object.parent_node) %></label>
    <div><%= yes_no @object.is_translation %></div>
  </div>
  <br/>
  <div class="inlineRow">
    <label><%= ts 'is.phonetic', :this => feature_name_label(@object.child_node), :that => feature_name_label(@object.parent_node) %></label>
    <div><%= yes_no @object.is_phonetic %></div>
    <div><%= def_if_blank(@object, :phonetic_system, :display_string) { '' } %></div>
  </div>
  <br/>
  <div class="inlineRow">
    <label><%= ts 'is.orthographic', :this => feature_name_label(@object.child_node), :that => feature_name_label(@object.parent_node) %></label>
    <div><%= yes_no @object.is_orthographic %></div>
    <div><%= def_if_blank(@object, :orthographic_system, :name) { '' } %></div>
  </div>	
  <br/>
  <div class="inlineRow">
    <label><%= ts 'is.alt_spelling', :this => feature_name_label(@object.child_node), :that => feature_name_label(@object.parent_node) %></label>
    <div><%= yes_no @object.is_alt_spelling %></div>
    <div><%= def_if_blank(@object, :alt_spelling_system, :name) { '' } %></div>
  </div>
  <br/>
</fieldset>
<%= citation_list_fieldset %>
<%= note_list_fieldset %>