<h1>Generate Feature Range</h1>
<%  form_for(:feature_pid, :url => admin_feature_pids_path) do |f| %>
      <p>
        <b>Number of features to generate</b><br />
<%=     f.text_field :count %>
      </p>
      <p><%= submit_tag 'Create' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= link_to 'See unused Feature IDs', available_admin_feature_pids_path %> |
<%= link_to 'Cancel new', admin_feature_pids_path %> |
<%= link_to 'Back to admin', admin_admin_path %>
</p>