<%= tagged_tinymce_script %>
<%= error_messages_for model_name %>
<fieldset>
  <legend><%= Perspective.model_name.human.titleize.s %></legend>
  <div class="row">
<%= f.label(:name).s %>
<%= f.text_field :name, :class => :text %>
  </div>
  <div class="row">
<%= f.label(:code).s %>
<%= f.text_field :code, :class => :text %>
  </div>
  <div class="row">
<%= f.label(:description).s %>
  </div>
  <div class="row">
<%= f.text_area :description, :rows=>4, :class => 'mceEditor' %>
  </div>
  <div class="row">
<%= f.label(:is_public).s %>
<%= f.check_box :is_public %>
  </div>
</fieldset>