<% if list.empty? %>
<%=  empty_collection_message %>
<% else %>
     <table class="listGrid">
<%=    pagination_row :colspan=>6 unless @collection.nil? %>
       <tr>
         <th class="listActionsCol"></th>
         <th> </th>
         <th><%= Description.model_name.human.titleize.s %></th>
         <th><%= Note.model_name.human(:count => :many).titleize.s %></th>
         <th><%= ts 'add.record', :what => Note.model_name.human.titleize %></th>
         <th><%= t('date.this', :count => :many).titleize.s %></th>
         <th><%= ts 'add.record', :what => t('date.this', :count => 1).titleize %></th>
       </tr>
<%     list.each do |item| %>
       <tr>
         <td class="centerText vtopText">
<%=      list_actions_for_item(item, :delete_path => admin_feature_description_path(item.feature, item),
         :edit_path => edit_admin_feature_description_path(item.feature, item), :view_path => admin_feature_description_path(item.feature, item)) %>
         </td>
         <td class="centerText vtopText"><%= '<b>*</b>'.html_safe if item.is_primary? %></td>
         <td>
<%         if !item.title.blank?  
             if !item.authors.empty? %>
               <span class='title'><%= item.title %></span>
               <span class='by'><%= ' by ' %></span>
               <span class='content_by'><%= join_with_and(item.authors.collect(&:fullname)) %></span>
<%           else %>
               <span class='title'><%= item.title %></span>
<%           end
           else
             if !item.authors.empty? %>
               <span class='title'><%= Description.model_name.human.titleize.s %></span>
               <span class='by'><%= ' by ' %></span>
               <span class='content_by'><%= join_with_and(item.authors.collect(&:fullname)) %></span>
<%           end
           end %>
           <span class='last_updated'>(<%= "#{h(item.updated_at.to_date.to_formatted_s(:long))}" %>)</span>
           <br />
<%=        truncate_html( def_if_blank(item, :content), 700, '...' + link_to(ts('view.record', :what => t('all.these')), admin_feature_description_path(item.feature, item))) %>
         </td>
         <td><%= note_link_list_for item %></td>
         <td><%= new_note_link_for item %></td>
         <td><%= time_unit_link_list_for item %></td>
         <td><%= new_time_unit_link_for item %></td>
       </tr>
<%     end %>
     </table>
     <sub><%= ts 'snippet.essay.primary' %></sub>
<% end %>