<% add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@object.feature)
   add_breadcrumb_item feature_descriptions_link(@object.feature)
   add_breadcrumb_item link_to(@object.id, admin_feature_description_path(parent_object,@object))
   add_breadcrumb_item ts('edit.this') %>
<div>
<h1><%= ts 'edit.ing.record', :what => "#{Description.model_name.human.titleize} #{@object.id}" %></h1>
</div>
<br class="clear"/>
<%= form_for @object, :url => admin_feature_description_path(parent_object,@object), :method => :put do |f| %>
<%=  render :partial => 'form_fields', :locals => {:f => f} %>
     <p><%=  link_to ts('cancel.this'), admin_feature_description_path(parent_object,@object) %> | <%= globalized_submit_tag 'update.this' %></p>
<% end %>