<% add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@object.feature)
   add_breadcrumb_item feature_descriptions_link(@object.feature)
   add_breadcrumb_item @object.id %>
<div>
  <h1><%= Description.model_name.human.titleize.s %>: <%= @object.id %></h1>
</div>
<br class="clear"/>
<fieldset>
  <legend><%= "#{Description.model_name.human.titleize.s} #{edit_item_link @object}".html_safe %></legend>
<% if !@object.title.blank?
     if !@object.authors.empty? %>
       <span class='title'><%= @object.title %></span>
       <span class='by'><%= ' by ' %></span>
       <span class='content_by'><%= join_with_and(@object.authors.collect(&:fullname)) %></span>
<%   else %>
       <span class='title'><%= @object.title %></span>
<%   end
   else
     if !@object.authors.empty? %>
       <span class='title'><%= Description.model_name.human.titleize.s %></span>
       <span class='by'><%= ' by ' %></span>
       <span class='content_by'><%= join_with_and(@object.authors.collect(&:fullname)) %></span>
<%   end
   end %>
   <div class="row">
     <label><%= Description.human_attribute_name(:content).s %>:</label><br/><span><%= def_if_blank(@object, :content).html_safe %></span>
   </div>
   <div class="row">
     <label><%= Description.human_attribute_name(:is_primary).s %></label> <span><%= yes_no @object.is_primary %></span>
   </div>
   <div class="row">
     <label><%= ts 'creat.e.d' %>:</label> <span><%= @object.created_at.to_formatted_s(:us_datetime) %></span>
   </div>
   <div class="row">
     <label><%= ts 'update.d.this' %>:</label> <span><%= @object.updated_at.to_formatted_s(:us_datetime) %></span>
   </div>	
</fieldset>
<%= citation_list_fieldset %>
<%= note_list_fieldset %>
<%= time_unit_list_fieldset %>