<% @object.is_public = true if @object.new_record? %>
<%= tagged_tinymce_script %>
<fieldset>
  <legend><%= ts(:for, :what => Note.model_name.human.titleize, :whom => @object.notable) %></legend>
  <div class="row">
<%= f.label :custom_note_title, ts('type.in', :what => Note.human_attribute_name(:custom_note_title)) %>
<%= f.text_field :custom_note_title, :class => :text %>
  </div>
  <div class="row">
<%= f.label :note_title_id, t('or.record', :what => t('choose.from', :what => NoteTitle.model_name.human(:count => :many))).capitalize.s %>
<%= f.collection_select :note_title_id, NoteTitle.all.sort{|a,b| a.to_s <=> b.to_s}, :id, :to_s, :include_blank=>true %>
  </div>
  <div class="row">
<%= f.label :content, Note.model_name.human.titleize.s %>
  </div>
  <div class="row">
<%= f.text_area :content, :rows=>4, :class => 'mceEditor' %>
  </div>
  <div class="row">
<%= f.label(:is_public).s %>
<%= f.check_box :is_public %>
  </div>
<%= link_to t('add.record', :what => t('new.record', :what => t(:author, :count => 1))).capitalize.s, polymorphic_path([:admin, @object.notable, @object.class.name.tableize], :action => "add_author"), :remote => true %>
  <div id="authors_div">
<%  for author in @object.authors %>
<%=   render :partial => 'authors_selector', :locals => {:selected => author.id} %>
<%  end %>
  </div>
  <div id="update_div"/>
</fieldset>