<% show_type ||= nil %>
<% options ||= {} %>
<% if list.empty? %>
	<%= empty_collection_message("No notes available.") %>
<% else %>

<table class="listGrid">

	<%= pagination_row :colspan=>4 unless @collection.nil? %>

	<tr>
		<th class="listActionsCol"></th>
		<%= "<th>Type</th>" unless options[:hide_type] %>
		<%= "<th>Type Value</th>" unless options[:hide_type_value] %>
		<th>Title</th>
		<th>Authors</th>
	</tr>

	<% list.each do |item| %>
	<tr>

		<td class="listActionsCol">
		  <%= list_actions_for_item(item,
  		  {
  		    :delete_path => polymorphic_path([:admin, item.notable, item]),
  		    :edit_path => polymorphic_path([:admin, item.notable, item], :action => "edit"),
  		    :view_path => polymorphic_path([:admin, item.notable, item])
  		  }
		  ) %>
		</td>
		
		<%= "<td>#{item.notable_type.titleize}</td>" unless options[:hide_type] %>
		
		<%= "<td>#{item.notable}</td>" unless options[:hide_type_value] %>

		<%# uncomment the following lines to link to the notable object %>
		<%# object_path_method = ['admin', item.notable_type.underscore, 'path'].join('_').to_sym %>
		<%#= link_to(item.notable, send(object_path_method, item.notable)) %>
		
		<td><%= item.title %></td>
		
		<td><%= item.authors.collect{|a| a.fullname }.join("<br />") %></td>

	</tr>
	<% end %>
	
</table>

<% end %>