<%= render :partial => 'breadcrumbs' %>
<%  add_breadcrumb_item @object.to_s %>
<fieldset>
  <legend>Note for <%= @object.notable_type_name.titleize %> <%= edit_item_link @object %> <%= delete_item_link @object %></legend>
  <div class="row">
    <label><%= ts :title %></label>
    <span><%= def_if_blank @object, :title %></span>
  </div>
  <div class="row">
    <label><%= Note.model_name.human.titleize.s %></label>
    <span><%= def_if_blank(@object, :content).html_safe %></span>
  </div>
  <div class="row">
    <label><%= Note.human_attribute_name(:is_public).s %></label>
    <span><%= @object.is_public? ? ts(:affirmation) : ts(:negation) %></span>
  </div>
  <div class="row"><table>
    <tr><td valign="top"><label><%= ts :author, :count => :many %></label></td>
    <td><span><%= @object.authors.blank? ? '-' : @object.authors.collect(&:fullname).join('<br />') %></span></td></tr>
  </table></div>
</fieldset>