<p><label for="openid_url"><%= AuthenticatedSystem::User.human_attribute_name(:identity_url).s %></label><br/>
<%= f.text_field :identity_url %></p>
<p><label for="login"><%= AuthenticatedSystem::User.human_attribute_name(:login).s %></label><br/>
<%= f.text_field :login %></p>
<p><label for="email"><%= AuthenticatedSystem::User.human_attribute_name(:email).s %></label><br/>
<%= f.text_field :email %></p>
<p><label for="password"><%= AuthenticatedSystem::User.human_attribute_name(:password).s %></label><br/>
<%= f.password_field :password %></p>
<p><label for="password_confirmation"><%= AuthenticatedSystem::User.human_attribute_name(:password_confirmation).s %></label><br/>
<%= f.password_field :password_confirmation %></p>