<h1><%= ts 'list.ing.records', :what => AuthenticatedSystem::User.model_name.human.titleize %></h1>
<table border="1" class="userlist">
  <tr><th><%= AuthenticatedSystem::User.human_attribute_name(:login).s %></th></tr>
<% for user in @users %>
   <tr><td><%= link_to h(user.login), admin_user_path(user) %></td></tr>
<% end %>
</table>
<p>
<%= new_item_link [:user] %> |
<%= link_to ts('back.this'), admin_root_path %>
</p>
