<% add_breadcrumb_item collection_name %>
<div>
  <div class="left">
<%= resource_search_form %>
  </div>
<%= highlighted_new_item_link [controller_name], nil, :align => 'right' %>
</div>
<br class="clear"/>
<% if @collection.empty? %>
<%=  empty_collection_message %>
<% else %>
   <table class="listGrid">
<%=  pagination_row :colspan=>3 %>
     <tr>
       <th class="listActionCol"></th>
       <th><%= SimpleProp.human_attribute_name(:name).s %></th>
       <th><%= SimpleProp.human_attribute_name(:code).s %></th>
     </tr>
<%   @collection.each do |item| %>
     <tr>
       <td class="listActionsCol"><%= list_actions_for_item(item) %></td>
       <td><%= item.name %></td>
       <td><%= item.code %></td>
     </tr>
<%   end %>
   </table>
<% end %>