<div>
<h6>Subjects associated with feature <%= feature_name_header(@feature) %></h6>
<div class="subjects-in-places kmaps-list-columns">
<%= render partial: 'feature_types', locals: {feature: @feature} %>
<%  category_features = @feature.category_features.where(type: nil) %>
<% if category_features.exists? %>
<h6>Subjects</h6>
<%= render partial: 'topics', locals: {feature: @feature, category_features: category_features} %>
<% end %>
<%= javascript_on_load "document.title = '#{ts 'app.short'} - #{feature_name_header(@feature).strip_tags} - #{ts 'relat.ed.record', :what => Feature.model_name.human.titleize}'" %>
</div>
<a href="<%= feature_path %>.csv" class="btn btn-sm btn-primary kmaps-btn-down"><%= ts 'Download'%></a>
</div>
<%= javascript_on_load do %>
  // Functionality for columnizer
  $('.kmaps-list-columns:not(.subjects-in-places):not(.already_columnized)').addClass('already_columnized').columnize({
    width: 330,
    lastNeverTallest : true
  });
<% end %>
<%= javascript_on_load do %>
      jQuery('[data-js-kmaps-popup]:not(.already_kmaps_popup)').addClass('already_kmaps_popup').kmapsPopup({
        type: POPUP_TYPE_INFO,
      });
<%  end %>
