<% if feature.nil? %>
<div class="left">
  <h2>No Results</h2>
  <p>There is no feature to display. Please select a feature from the tree.</p>
</div>
<% else
@context_id = feature.id
%>
<div id="FeatureDetails" class="has-right-margin">
  <%= content_tag :h2, feature_name_header(feature) %>
  <%= time_units_for(feature) %>
  
	<h3><%= current_perspective %> Location</h3>
	<%= f_breadcrumb(feature) %>

	<% if defined? feature.object_types %>
	<%= content_tag :h3, "Types" unless feature.object_types.empty? %>
	  <ul id="FeatureTypesList">
	<% feature.feature_object_types.each do |fot| 
		 ot = fot.category
		 if !ot.nil? %>
		 	<li>
				<%= link_to ot.title, Category.get_url("iframe/#{ot.id}"), :class => "draggable-pop iframe no-view-alone overflow-y-auto width-850 height-488" %>
				<%= note_popup_link_for(fot) %>
				<%= time_units_for(fot) %>
			</li>
	<%   end
	   end %>
	   <%= javascript_tag "$(document).ready(function(){ ActivateDraggablePopups('#FeatureTypesList'); });" %>
	  </ul>
	  <%= note_popup_link_list_for(feature, {:association_type => FeatureObjectType.model_name}) %>
	<% end %>
	<% if defined? feature.category_features %>
	<%= content_tag :h3, "Characteristics" unless feature.category_features.empty? %>
	  <ul id="CategoryFeaturesList">
	<% feature.category_features.each do |cfs| 
		 cf = cfs.category
		 if !cf.nil? 
			values = []
			values << cfs.string_value if !cfs.string_value.blank?
			values << cfs.numeric_value if !cfs.numeric_value.nil?
			 %>
		 	<li>
				<%= cf.root.title %> - <%= link_to cf.title, Category.get_url("iframe/#{cf.id}"), :class => "draggable-pop iframe no-view-alone overflow-y-auto width-850 height-488" %><%= ": #{values.join(', ')}" if !values.empty? %>
				<%= note_popup_link_for(cfs) %>
				<%= time_units_for(cfs) %>
			</li>
	<%   end
	   end %>
	   <%= javascript_tag "$(document).ready(function(){ ActivateDraggablePopups('#CategoryFeaturesList'); });" %>
	  </ul>
	  <%= note_popup_link_list_for(feature, {:association_type => CategoryFeature.model_name}) %>
	<% end %>
	<% if !feature.shapes.empty? %>
		<h3>Map</h3>
		<div id="inset_map" class="fid-<%= feature.fid.to_s %> language-<%= current_view.code %>"></div>
		<%= javascript_tag "$(document).ready(function(){ InsetMap.init({proxyUrl: '#{ActionController::Base.relative_url_root}/proxy_engine/utils/proxy/?proxy_url='}); });" %>
		<%= link_to image_tag("http://www.thlib.org/global/images/icon-map-simple.gif", :alt => "") + " View the full map", "http://www.thlib.org/places/maps/interactive/#fid:#{feature.fid};language:#{current_view.code}", :target => "_blank", :class => "view-on-map" %>
		<%= link_to image_tag("http://www.thlib.org/global/images/icon-google-maps.png", :alt => "") + " View in Google Maps", "http://maps.google.com/maps?q=http://places.thlib.org"+url_for(:action => :gis_resources, :fids => feature.fid, :format => "kmz"), :target => "_blank", :class => "view-on-map" %>
		<%= link_to image_tag("http://www.thlib.org/global/images/icon-google-earth.png", :alt => "") + " View in Google Earth", {:action => :gis_resources, :fids => feature.fid, :format => "kmz"}, :target => "_blank", :class => "view-on-map" %>
	<% end %>
	
	<%= content_tag :h3, "Essays" unless feature.descriptions.blank? %>
	<%  if !feature.descriptions.empty? %>
	      <div id='descriptions_div'>
	<%=     render :partial => '/descriptions/index', :locals => {:feature => feature, :description => nil} %>
	      </div>
		  <%= note_popup_link_list_for(feature, {:association_type => Description.model_name}) %>
	<%  end %>
	
	<p>
		<br />
		<%= button_to_function "View More Feature Detail", "$('#more_feature_detail').show(); $(this).hide(); $('#less_feature_detail_button').show();", :id => "more_feature_detail_button", :style => ("display:none;" if current_show_feature_details) %>
		<%= button_to_function "Hide Feature Detail", "$('#more_feature_detail').hide(); $(this).hide(); $('#more_feature_detail_button').show();", :id => "less_feature_detail_button", :style => ("display:none;" unless current_show_feature_details) %>
	</p>

<div id="more_feature_detail" style="<%= ("display: none;" unless current_show_feature_details) %>">

	<h3>Names</h3>
	<%= feature_name_ul(feature,false) %>
	<dl class="no-style">
	<% feature.names.roots.each do |name| %>
		<%= "<dt><strong>Etymology of #{name.name}:</strong></dt><dd>#{name.etymology}</dd>" unless name.etymology.blank? %>
	<% end %>
	</dl>
	<%= note_popup_link_list_for(feature, {:association_type => FeatureName.model_name}) %>

	<h3>IDs</h3>
<%  if show_old_pid %>
      <p>CURRENT THL ID: <%= feature.pid %></p>
      <p>OLD THL PID: <%= feature.old_pid %></p>
<%  else %>
      <p>THL ID: <%= feature.pid %></p>
<%  end %>
  	<% feature.geo_codes.each do |geo_code| %>
			<p>
				<%= geo_code %>: <%= geo_code.geo_code_value%>
				<%= note_popup_link_for(geo_code) %>
				<%= time_units_for(geo_code) %>
			</p>
  	<% end %>
	<%= note_popup_link_list_for(feature, {:association_type => FeatureGeoCode.model_name}) %>
	
	<% if !feature.shapes.empty? %>
		<%= content_tag :h3, "Locations" %>
		<ul>
		  <% feature.shapes.each do |shape| %>
		    <li>
				<%=h shape_display_string(shape) %>
				<%= note_popup_link_for(shape) %>
				<%= time_units_for(shape) %>
			</li>
		  <% end %>	
		</ul>

			GIS Resources (feature alone)
				<ul>
					<li>
						<%= link_to "GML", :action => :gis_resources, :fids => feature.fid, :format => "gml" %>
					</li>
					<li>
						<%= link_to "KML", :action => :gis_resources, :fids => feature.fid, :format => "kml" %>
					</li>
					<li>
						<%= link_to "Shapefile", :action => :gis_resources, :fids => feature.fid, :format => "shp" %>
					</li>
				</ul>
			
			<% if !feature.descendants.empty? %>
				GIS Resources (including contained features)
				<% # For features with roughly > 300 descendants, we're getting a timeout, so we'll temporarily fix this by not allowing these to be downloaded. 
				if feature.descendants.length < 300 %>
				<ul>
					<li>
						<%= link_to "GML", :action => :gis_resources, :fids => feature.fid, :format => "gml", :contained => "1" %>
					</li>
					<li>
						<%= link_to "KML", :action => :gis_resources, :fids => feature.fid, :format => "kml", :contained => "1" %>
					</li>
					<li>
						<%= link_to "Shapefile", :action => :gis_resources, :fids => feature.fid, :format => "shp", :contained => "1" %>
					</li>
				</ul>
				<% else %>
				<ul>
					<li>Sorry, this feature contains too many features for us to currently be able to provide this data.</li>
				</ul>
				<% end %>
			<% end %>
		<%= note_popup_link_list_for(feature, {:association_type => Shape.model_name}) %>
	<% end %>

</div>
	
</div>

<br class="clear"/>
<% end %>
