<% edit_link_options = {target: true} %>
<%= content_tag :h6, "#{feature_name_header(feature)} #{edit_item_link(admin_feature_path(feature.fid),"",edit_link_options) if logged_in? && object_authorized?(feature)}".html_safe %>
<%= time_units_for(feature) %>
<%  summary = feature.summary
    if summary.nil?
      caption = feature.caption
      if !caption.nil? %>
        <div class="summary-overview">
<%=     caption.content.html_safe %>
        </div>
<%      end
    else %>
      <div class="summary-overview">
<%=   summary.content.html_safe %>
      </div>
<%  end %>
<%= render :partial => 'feature_types', :locals => {:feature => feature} %><br/>
<%  closest_fid_with_shapes = feature.closest_feature_with_shapes(:logged_in? => logged_in?)
    if closest_fid_with_shapes.nil?
      shapes = []
      map_fid = nil
    else
      shapes = closest_fid_with_shapes.shapes
      shapes = shapes.where(:is_public => true) if !logged_in?
      map_fid = closest_fid_with_shapes.fid
    end
	illustration = feature.illustration
    if !illustration.nil?
      picture = feature.illustration.picture
	  rendered_width = picture.width.nil? || picture.width>576 ? 576 : picture.width %>
      <div class='resource-overview-image'>
<%    if picture.instance_of?(MmsIntegration::Picture) %>
<%=     link_to image_tag(picture.url, :width => rendered_width), MmsIntegration::Medium.element_url(picture.id, :format => 'html') %>
<%    else %>
<%=     link_to image_tag(picture.url, :width => rendered_width), picture.url %>
<%    end
      place = illustration.place
      if place.nil?
        location = nil
      else
        location = link_to place.prioritized_name(current_view).name, feature_path(place.fid)
        parent_place = place.context_feature
        location << ", #{link_to parent_place.prioritized_name(current_view).name, feature_path(parent_place.fid)}".html_safe if !parent_place.nil?
      end
      if picture.caption.nil?
        if !location.nil? %>
          <p class = "view-on-map"><%= location %></p>
<%      end
      else %>
        <p class = "view-on-map">
<%=       picture.caption.html_safe %>
<%        if !location.nil? %>
            (<%= location %>)
<%        end %>
        </p>
<%    end %>
      </div> <!-- END resource-overview-image -->
<%  end %>
<%  if !map_fid.nil? %>
      <div class="map-renditions" id="map-column">
        <div id="map-canvas">
          <div id="inset_map" class="fid-<%= map_fid %> language-<%= current_view.code %>"></div>
<%=       javascript_on_load do %>
            InsetMap.init({proxyUrl: '<%= proxy_engine_proxy_path %>?proxy_url=', geoserverUrl: '<%= geoserver_url %>' });
<%        end %>
          <p class = "view-on-map">
<%=         link_to "#{image_tag("#{InterfaceUtils::Server.get_thl_url}/global/images/icon-map-simple.gif", :alt => "")} #{ts 'map.full'}".html_safe, "#{InterfaceUtils::Server.get_thl_url}/places/maps/interactive/#fid:#{map_fid};language:#{current_view.code}" %>
<%=         link_to "#{image_tag("#{InterfaceUtils::Server.get_thl_url}/global/images/icon-google-maps.png", :alt => "")}#{ts 'map.google'}".html_safe, "http://maps.google.com/maps?q=http://places.thlib.org"+url_for(:action => :gis_resources, :fids => map_fid, :format => "kmz"), :target => "_blank" %>&nbsp;
<%=         link_to "#{image_tag("#{InterfaceUtils::Server.get_thl_url}/global/images/icon-google-earth.png", :alt => "")} #{ts 'map.earth'}".html_safe, {:action => :gis_resources, :fids => map_fid, :format => "kmz"}, :target => "_blank" %>
          </p>
        </div> <!-- END map-canvas -->
     </div> <!-- END map-renditions -->
<%  end %>
    <div style="clear: both;"></div>
<div id="accordion" class="panel-group">
<% category_features = feature.category_features.where(:type => nil) %>
<% if !category_features.empty? %>
  <section class="panel panel-default">
    <div class="panel-heading">
      <h6><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle"><span class="glyphicon glyphicon-plus"></span><%= CategoryFeature.model_name.human(:count => category_features.size).titleize.s %></a></h6>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
<%=     render :partial => 'topics', :locals => {feature: feature, category_features: category_features} %>
      </div>
    </div>
  </section>
<% end %>
  <section class="panel panel-default">
    <div class="panel-heading">
      <h6><a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" aria-expanded="true"><span class="glyphicon glyphicon-plus"></span><%= FeatureName.model_name.human(:count => feature.names.size).titleize.s %></a></h6>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
<%=     feature_name_ul(feature,false) %>
        <dl class="no-style">
<%      feature.names.roots.order('position').each do |name| %>
<%=       "<dt><strong>#{ts(:for, :what => FeatureName.human_attribute_name(:etymology), :whom => name.name.to_s)}:</dt></strong><dd>#{name.etymology.s}</dd>".html_safe unless name.etymology.blank? %>
<%      end %>
        </dl>
<%=     note_popup_link_list_for(feature, {:association_type => FeatureName.name}) %>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading">
      <h6><a href="#collapseThree" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed"><span class="glyphicon glyphicon-plus"></span><%= ts 'id.this', :count => :many %></a></h6>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
<%      if show_old_pid %>
          <p><%= "#{ts :current, :what => Feature.human_attribute_name(:pid)}: #{feature.pid}" %></p>
          <p><%= "#{Feature.human_attribute_name(:old_pid).s}: #{feature.old_pid}" %></p>
<%      else %>
          <p><%= "#{Feature.human_attribute_name(:pid).s}: #{feature.pid}" %></p>
<%      end %>
<%      feature.geo_codes.each do |geo_code| %>
        <p>
<%=       geo_code %>: <%= geo_code.geo_code_value %>
<%=       note_popup_link_for(geo_code) %>
<%=       time_units_for(geo_code) %>
        </p>
<%      end %>
<%=     note_popup_link_list_for(feature, {:association_type => FeatureGeoCode.name}) %>
      </div>
    </div>
  </section>
<%  simple_altitudes = feature.shapes.collect(&:altitude).select{|a| !a.nil? }
    altitudes = feature.altitudes
    altitude_size = simple_altitudes.size + altitudes.size
    if altitude_size > 0 %>
    <section class="panel panel-default">
      <div class="panel-heading">
        <h6><a href="#collapseFour" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed"><span class="glyphicon glyphicon-plus"></span><%= Altitude.model_name.human(:count => altitude_size).titleize.s %></a></h6>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
<%=   altitude_size>1 ? '<ul>'.html_safe : '<p>'.html_safe %>
<%    if simple_altitudes.size == 1 %>
<%=     simple_altitudes.first %>
<%    else %>
<%      simple_altitudes.each do |altitude| %>
          <li><%= altitude %></li>
<%      end %>
<%    end %>
<%    altitudes.each do |altitude| %>
<%=     '<li>' if altitude_size>1 %>
<%=h    altitude_display_string(altitude) %>
<%=     note_popup_link_for(altitude) %>
<%=     time_units_for(altitude) %>
<%=     '</li>' if altitude_size>1 %>
<%    end %>
<%=   altitude_size>1 ? '</ul>'.html_safe : '</p>'.html_safe %>
        </div>
      </div>
    </section>
<%  end
    #feature.closest_feature_with_shapes(:logged_in? => logged_in?)
    #if !shapes.empty? 
  if feature.has_shapes?(:logged_in? => logged_in?)
    if !shapes.empty? %>
    <section class="panel panel-default">
      <div class="panel-heading">
        <h6><a href="#collapseFive" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed"><span class="glyphicon glyphicon-plus"></span><%= Shape.model_name.human(:count => shapes.size).titleize.s %></a></h6>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
<%    if shapes.size>1 %>
        <ul>
<%      shapes.each do |shape| %>
          <li>
<%=h      shape_display_string(shape) %>
<%=       note_popup_link_for(shape) %>
<%=       time_units_for(shape) %>
          </li>
<%      end %>
        </ul>
<%    else
        shape = shapes.first %>
        <p>
<%=h      shape_display_string(shape) %>
<%=       note_popup_link_for(shape) %>
<%=       time_units_for(shape) %>
        </p>
<%    end %>
<%=   content_tag :h3, ts('resource.gis.feature_alone') %>
      <ul>
        <li><%= link_to 'GML', gis_resources_url(:fids => feature.fid, :format => 'gml') %></li>
        <li><%= link_to 'KML', gis_resources_url(:fids => feature.fid, :format => 'kml') %></li>
        <li><%= link_to 'Shapefile', gis_resources_url(:fids => feature.fid, :format => 'shp') %></li>
      </ul>
<%    if !feature.descendants.empty? %>
<%=     content_tag :h3, ts('resource.gis.contained_features') %>
<%      # For features with roughly > 300 descendants, we're getting a timeout, so we'll temporarily fix this by not allowing these to be downloaded.
        if feature.descendants.length < 300 %>
        <ul>
          <li><%= link_to 'GML', gis_resources_url(:fids => feature.fid, :format => 'gml', :contained => '1') %></li>
          <li><%= link_to 'KML', gis_resources_url(:fids => feature.fid, :format => 'kml', :contained => '1') %></li>
          <li><%= link_to 'Shapefile', gis_resources_url(:fids => feature.fid, :format => 'shp', :contained => '1') %></li>
        </ul>
<%      else %>
          <p><%= ts 'snippet.feature.too_many' %></p>
<%      end
      end %>
<%=   note_popup_link_list_for(feature, {:association_type => Shape.name}) %>
        </div>
      </div>
    </section>
<%  end
    end %>
</div>
<%= javascript_on_load do %>
      jQuery('[data-js-kmaps-popup]').kmapsPopup({
        type: POPUP_TYPE_INFO,
      });
<%  end %>
