<%  edit_link_options = {target: true} %>
<%= content_tag :h6, "#{feature_name_header(feature)} #{edit_item_link(admin_feature_path(feature.fid),"", **edit_link_options) if authenticated? && object_authorized?(feature)}".html_safe %>
<%= time_units_for(feature) %>
<%= render partial: 'summaries', locals: { feature: feature } %>
<%= render partial: 'feature_types', locals: {feature: feature} %><br/>
<%  closest_fid_with_shapes = feature.closest_feature_with_shapes(authenticated?: authenticated?)
    if closest_fid_with_shapes.nil?
      shapes = []
      map_fid = nil
    else
      shapes = closest_fid_with_shapes.shapes
      shapes = shapes.where(is_public: true) if !authenticated?
      map_fid = closest_fid_with_shapes.fid
    end
    illustration = feature.illustration
    if !illustration.nil?
      picture = feature.illustration.picture
			if picture.instance_of? ShantiIntegration::Image
				rendered_width = 200
			else
	      rendered_width = picture.width.nil? || picture.width>576 ? 576 : picture.width
			end %>
      <div class='resource-overview-image'>
<%    html_options = { class: 'img-responsive img-thumbnail' }
      html_options[:width] = rendered_width
      if picture.instance_of?(ExternalPicture) %>
<%=     link_to image_tag(picture.url, html_options), picture.url %>
<%    else %>
<%=     link_to image_tag(illustration.thumb_url, html_options), illustration.picture_url %>
<%    end
      place = illustration.place
      if place.nil?
        location = nil
      else
        location = link_to place.prioritized_name(current_view).name, feature_path(place.fid)
        parent_place = place.context_feature
        location << ", #{link_to parent_place.prioritized_name(current_view).name, feature_path(parent_place.fid)}".html_safe if !parent_place.nil?
      end
      if picture.caption.nil?
        if !location.nil? %>
          <p class = "view-on-map"><%= location %></p>
<%      end
      else %>
        <p class = "view-on-map">
<%=       picture.caption.html_safe %>
<%        if !location.nil? %>
            (<%= location %>)
<%        end %>
        </p>
<%    end %>
      </div> <!-- END resource-overview-image -->
<%  end %>
<%  if !map_fid.nil? %>
      <div class="map-renditions" id="map-column">
        <div id="map-canvas">
          <div id="inset_map" class="fid-<%= map_fid %> language-<%= current_view.code %>"></div>
<%=       javascript_on_load do %>
            InsetMap.init({geoserverUrl: '<%= geoserver_url %>' });
<%        end %>
          <p class = "view-on-map">
<%=         link_to "#{image_tag("#{InterfaceUtils::Server.get_thl_url}/global/images/icon-map-simple.gif", alt: '')} #{ts 'map.full'}".html_safe, "#{InterfaceUtils::Server.get_thl_url}/places/maps/interactive/#fid:#{map_fid};language:#{current_view.code}" %>
<%=         link_to "#{image_tag("#{InterfaceUtils::Server.get_thl_url}/global/images/icon-google-maps.png", alt: '')}#{ts 'map.google'}".html_safe, 'http://maps.google.com/maps?q=http://places.thlib.org' + url_for(action: :gis_resources, fids: map_fid, format: 'kmz'), target: '_blank' %>&nbsp;
<%=         link_to "#{image_tag("#{InterfaceUtils::Server.get_thl_url}/global/images/icon-google-earth.png", alt: '')} #{ts 'map.earth'}".html_safe, {action: :gis_resources, fids: map_fid, format: 'kmz'}, target: '_blank' %>
          </p>
        </div> <!-- END map-canvas -->
     </div> <!-- END map-renditions -->
<%  end %>
    <div style="clear: both;"></div>
<%= render partial: 'essays', locals: { feature: feature } %>
<div id="accordion" class="panel-group">
<% category_features = feature.category_features.where(type: nil) %>
<% if !category_features.empty? %>
  <section class="panel panel-default">
    <div class="panel-heading">
      <h6><a href="#collapseTopics" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle"><span class="glyphicon glyphicon-plus"></span><%= CategoryFeature.model_name.human(count: category_features.size).titleize.s %></a></h6>
    </div>
    <div id="collapseTopics" class="panel-collapse collapse in">
      <div class="panel-body">
<%=     render partial: 'topics', locals: {feature: feature, category_features: category_features} %>
      </div>
    </div>
  </section>
<% end %>
<%= render partial: 'common_accordions', locals: { feature: feature, show_old_pid: show_old_pid } %>
<%  simple_altitudes = feature.shapes.collect(&:altitude).select{|a| !a.nil? }
    altitudes = feature.altitudes
    altitude_size = simple_altitudes.size + altitudes.size
    if altitude_size > 0 %>
    <section class="panel panel-default">
      <div class="panel-heading">
        <h6><a href="#collapseAltitudes" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed"><span class="glyphicon glyphicon-plus"></span><%= Altitude.model_name.human(count: altitude_size).titleize.s %></a></h6>
      </div>
      <div id="collapseAltitudes" class="panel-collapse collapse">
        <div class="panel-body">
<%=   altitude_size>1 ? '<ul>'.html_safe : '<p>'.html_safe %>
<%    if simple_altitudes.size == 1 %>
<%=     simple_altitudes.first %>
<%    else %>
<%      simple_altitudes.each do |altitude| %>
          <li><%= altitude %></li>
<%      end %>
<%    end %>
<%    altitudes.each do |altitude| %>
<%=     '<li>' if altitude_size>1 %>
<%=h    altitude_display_string(altitude) %>
<%=     note_popup_link_for(altitude) %>
<%=     time_units_for(altitude) %>
<%=     '</li>' if altitude_size>1 %>
<%    end %>
<%=   altitude_size>1 ? '</ul>'.html_safe : '</p>'.html_safe %>
        </div>
      </div>
    </section>
<%  end
    #feature.closest_feature_with_shapes(authenticated?: authenticated?)
    #if !shapes.empty? 
  if feature.has_shapes?(authenticated?: authenticated?)
    if !shapes.empty? %>
    <section class="panel panel-default">
      <div class="panel-heading">
        <h6><a href="#collapseShapes" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed"><span class="glyphicon glyphicon-plus"></span><%= Shape.model_name.human(count: shapes.size).titleize.s %></a></h6>
      </div>
      <div id="collapseShapes" class="panel-collapse collapse">
        <div class="panel-body">
<%    if shapes.size>1 %>
        <ul>
<%      shapes.each do |shape| %>
          <li>
<%=h      shape_display_string(shape) %>
<%=       note_popup_link_for(shape) %>
<%=       time_units_for(shape) %>
          </li>
<%      end %>
        </ul>
<%    else
        shape = shapes.first %>
        <p>
<%=h      shape_display_string(shape) %>
<%=       note_popup_link_for(shape) %>
<%=       time_units_for(shape) %>
        </p>
<%    end %>
<%=   content_tag :h3, ts('resource.gis.feature_alone') %>
      <ul>
        <li><%= link_to 'GML', gis_resources_url(fids: feature.fid, format: 'gml') %></li>
        <li><%= link_to 'KML', gis_resources_url(fids: feature.fid, format: 'kml') %></li>
        <li><%= link_to 'Shapefile', gis_resources_url(fids: feature.fid, format: 'shp') %></li>
      </ul>
<%    if !feature.descendants.empty? %>
<%=     content_tag :h3, ts('resource.gis.contained_features') %>
<%      # For features with roughly > 300 descendants, we're getting a timeout, so we'll temporarily fix this by not allowing these to be downloaded.
        if feature.descendants.length < 300 %>
        <ul>
          <li><%= link_to 'GML', gis_resources_url(fids: feature.fid, format: 'gml', contained: '1') %></li>
          <li><%= link_to 'KML', gis_resources_url(fids: feature.fid, format: 'kml', contained: '1') %></li>
          <li><%= link_to 'Shapefile', gis_resources_url(fids: feature.fid, format: 'shp', contained: '1') %></li>
        </ul>
<%      else %>
          <p><%= ts 'snippet.feature.too_many' %></p>
<%      end
      end %>
<%=   note_popup_link_list_for(feature, association_type: Shape.name) %>
        </div>
      </div>
    </section>
<%  end
  end %>
</div>
<%= javascript_on_load do %>
      jQuery('[data-js-kmaps-popup]').kmapsPopup({
        type: POPUP_TYPE_INFO,
      });
<%  end %>