<% active_item = !session[:interface].blank? && !session[:interface][:menu_item].blank? ? session[:interface][:menu_item] : false %>
<div id="NodeMenu">
	<div class="node-menu-content">
	<h2 class="menu-item-search">Search</h2>
	<div id="NodeSearch" class="default-item" <%= ' style="display:none"' unless active_item == 'search' %>>
		<% form_remote_for :feature,
			:url => {:controller => :features, :action => :search },
			:update => "NodeSearchResults",
			:condition => "NodeMenu.checkForFidSearch()",
			:loading => "NodeMenu.beginSearch()" do |form| %>
			<%= text_field_tag :filter, h(@search_form_params[:filter]), :class=>:text %>
			<div style="float: right;">
				<%= link_to_function "Advanced Search", "$('#advanced_search').show(); $(this).hide(); $('#hide_advanced_search_link').show()", :id => "show_advanced_search_link", :style => ("display:none;" if current_show_advanced_search) %>
				<%= link_to_function "Hide Advanced Search", "$('#advanced_search').hide(); $(this).hide(); $('#show_advanced_search_link').show(); reset_advanced_search();", :id => "hide_advanced_search_link", :style => ("display:none;" unless current_show_advanced_search) %>
			</div>
			<div id="advanced_search" style="<%= "display:none;" unless current_show_advanced_search  %>">
				<div>
					<%=  radio_button_tag :scope, :full_text, @search_form_params[:scope] == 'full_text' %> All Text
					<%=  radio_button_tag :scope, :name, @search_form_params[:scope] == 'name' %> Name
				</div>
				<div>
					<%=  radio_button_tag :match, :contains, @search_form_params[:match] == 'contains' %> Contains
					<%=  radio_button_tag :match, :begins, @search_form_params[:match] == 'begins' %> Starts with
					<%=  radio_button_tag :match, :exactly, @search_form_params[:match] == 'exactly' %> Exactly
				</div>
				<div>
					<%=  check_box_tag :has_descriptions, '1', @search_form_params[:has_descriptions] == '1' %>
					<%=  label_tag :has_descriptions, "Show only entries with essays" %>
				</div>
				<div id="tmb_category_selector_object_type"></div>
				<div id="characteristic_selector"></div>
				<div>
					Select Scope:
					<%=  radio_button_tag :search_scope, :global, @search_form_params[:search_scope] == 'global' %> Global
					<%=  radio_button_tag :search_scope, :contextual, @search_form_params[:search_scope] == 'contextual' %> Contextual
					<%=  radio_button_tag :search_scope, :fid, @search_form_params[:search_scope] == 'fid' %> THL ID
				</div>
				<%=  hidden_field_tag :context_id, "" %>
			</div>
			<%= submit_tag 'search', :style => "margin-top: 4px;" %>
			
		<% end %>
	</div>
	<h2 class="menu-item-results">Results</h2>
	<div id="NodeSearchResults" <%= ' style="display:none"' unless active_item == 'results' %>>
		<% if session[:search].blank? %>
			Use the search field above to search for features.
		<% else %>
			<%= render :partial => 'features/search_results', :locals => {:use_session => true, :features => Feature.find(session[:search][:feature_ids])} %>
		<% end %>
	</div>
	<h2 class="menu-item-options">Options</h2>
	<div id="NodeOptions" <%= ' style="display:none"' unless active_item == 'options' %>>
		<ul>
			<li>
			  Language:<br />
			  <%= render(:partial => 'sessions/language_select') %>
			  <% form_for :session, :url => session_path, :html => { :method => 'put' } do |f| %>
			      Perspective:<br />
				  <%= f.collection_select :perspective_id, @perspectives, :id, :name, {}, { :onchange => 'jQuery(this).parents("form:first").submit();' } %>
				  <br />
				  Place Name Language:<br />
				  <%= f.collection_select :view_id, @views, :id, :name, {}, { :onchange => 'jQuery(this).parents("form:first").submit();' } %>
				  <br />
				  Show Feature Details:<br />
				  <%= f.select :show_feature_details, [['Yes', true], ['No', false]], {:selected => current_show_feature_details}, { :onchange => 'jQuery(this).parents("form:first").submit();' } %>
				  <br />
				  Show Advanced Search:<br />
				  <%= f.select :show_advanced_search, [['Yes', true], ['No', false]], {:selected => current_show_advanced_search}, { :onchange => 'jQuery(this).parents("form:first").submit();' } %>
			  <% end %>
			</li>
		</ul>
	</div>
	<h2 class="menu-item-browse">Browse</h2>
	<div id="NodeTree" <%= ' style="display:none"' unless active_item == 'browse' %>>
		<div id="NodeTreeList">
		<% if @feature.nil? %>
			<% if current_perspective %>
				<%= render :partial => "node_tree", :locals => { :children => @top_level_nodes } %>
			<% else %>
				To see a list of features, please <%= link_to 'choose a perspective', edit_session_path %>.
			<% end %>
		<% else %>
			<img src="http://thlib.org/global/images/ajax-loader.gif" alt="" style="display:inline;" /> Loading...
		<% end %>
		</div>
	</div>
	</div>
</div>

<% unless @feature.nil? %>
	<%= javascript_on_load "NodeTree.loadExpandedTree(#{@feature.id})" %>
<% end %>

<% # If a search is made via GET params (e.g. /features?filter=china), we need to perform it.
valid_search_params = [:filter, :context_id, :match, :object_type, :characteristic_id, :scope, :search_scope, :has_descriptions].collect{|p| p.to_s }
%>
<% unless (params.keys & valid_search_params).empty? %>
  <%= link_to_remote '', { :update => "NodeSearchResults", :url => params.merge({ :action => 'search' }), :loading => "NodeMenu.beginSearch()" }, { :id => 'ajax_search_results', :style => "display:none;" } %>
  <%= javascript_on_load "jQuery('#ajax_search_results').click()" %>
<% end %>