<% active_item = active_menu_item %>
<section id="kmaps-search" role="search">
  <!-- BEGIN Input section -->
  <section class="input-section" style="display:none">
<%= form_for @search_form, url: search_features_path, remote: true do |form| %>
    <div class="search-group">
      <!-- typeahead search -->
<div class="kmap-typeahead-picker">
  <label class="flyout-search-label"><span>Search:</span></label>
    <%=     text_field_tag "kmaps-explorer-search-term", "",  class: 'kmap-search-term form-control form-text', placeholder: 'Enter Search...', autocomplete: :off %>
  <span class="icon shanticon-magnify"></span>
  <button type="button" class="btn searchreset" aria-label="Clear search text" style="display: none;"><span class="icon"></span></button>
</div>
      <!-- END - typeahead search -->
	  <div class="form-group">
<%=     link_to '#', class: 'advanced-link toggle-link' do %>
          <span class="icon"></span><%= ts(:advanced) %>
<%      end %>
	  </div>
<%=   javascript_on_load do %>
        $('.advanced-link').click ( function () {
        var tg = $('.advanced-view').is(":visible");
         $(this).toggleClass("show-advanced",'fast');
          $(".advanced-view").slideToggle('fast');
          $(".advanced-view").toggleClass("show-options");
          ShantiSarvaka.searchTabHeight(!tg);
        });
<%    end %>
    </div>
	<section class="advanced-view" style="<%= 'display:none;' unless current_show_advanced_search  %>">
	   <div class="form-group" id="searchScopeGroup">
       <label><span>Filter:</span> search scope</label>
        <div>
<%=       form.radio_button :scope, 'full_text' %>
<%=       form.label :scope, ts('search.full_text'), value: 'full_text' %>
<%=       form.radio_button :scope, 'name' %>
<%=       form.label :scope, FeatureName.model_name.human.titleize.s, value: 'name'%>
        </div>
        <div>
          <%=       form.radio_button :match, 'contains' %>
          <%= form.label :match, ts('search.contains'), value: 'contains' %>
<%=       form.radio_button :match, 'begins' %>
<%=       form.label :match, ts('search.begins'), value: 'begins' %>
<%=       form.radio_button :match, 'exactly' %>
<%=       form.label :match, ts('search.exactly'), value: 'exactly' %>
        </div>
        <div id="search-note" style='display:none'><p>'Starts with' and 'Exactly' filters are case sensitive</p></div>
        <hr />
<div id="kmaps-explorer-filter-feature_type"
     class="kmap-filter"
     data-search-filter="feature_type">
    <label><span>Filter:</span> select feature types</label>
    <input id="kmaps-explorer-search-filter-feature_type"
           class="kmap-search-filter form-control form-text" type="text"
           data-search-filter="feature_type"
           placeholder="Filter by feature types">
    <div id="kmaps-explorer-filter-box-feature_type"
         class="kmap-filter-box"
         data-search-filter="feature_type" style="display:none"></div>
</div>
<div id="kmaps-explorer-filter-associated_subject"
     class="kmap-filter"
     data-search-filter="associated_subject">
    <label><span>Filter:</span> select associated subject</label>
    <input id="kmaps-explorer-search-filter-associated_subject"
           class="kmap-search-filter form-control form-text" type="text"
           data-search-filter="associated_subject"
           placeholder="Filter by associated subject">
    <div id="kmaps-explorer-filter-box-associated_subject"
         class="kmap-filter-box"
         data-search-filter="associated_subject" style="display:none"></div>
</div>
<hr>
    <div id='goto-fid' class="input-group">
      <input type="text" class="form-control" placeholder="Go to place ID...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
      </div>
	</section>
<%  end %>
  </section>
  <!-- END input section -->
  <!-- BEGIN view section -->
  <section class="view-section">
    <ul class="nav nav-tabs">
<%    active_item = active_menu_item %>
      <li class="treeview<%= ' active' if active_item == 'browse' %>"><a href=".treeview" data-toggle="tab"><span class="icon shanticon-tree"></span>Tree</a></li>
      <li class="listview<%= ' active' if active_item == 'results' %>"><a href=".listview" data-toggle="tab"><span class="icon shanticon-list"></span>Results</a></li>
    </ul>
	  <div class="tab-content">
	    <div class="treeview tab-pane<%= ' active' if active_item == 'browse' %>">
	      <div id="tree" class="view-wrap">
	      </div>
	    </div>
      <div class="listview tab-pane<%= ' active' if active_item == 'results' %>">
        <div class="view-wrap"></div>
      </div>
	  </div>
  </section>
</section>
<% feature = contextual_feature
   fid = feature.nil? ? nil : feature.fid
   uid = !fid.nil? ? "#{Feature.uid_prefix}-#{fid}" : "";
%>
<%= content_tag :div, "", id: 'menu_js_data', data: {
 term_index: Feature.config.url,
 asset_index: ShantiIntegration::Source.config.url,
 feature_id: uid,
 domain: Feature.uid_prefix,
 perspective: current_perspective.code,
 tree: Feature.uid_prefix,
 features_path: "#{(defined?(admin) && admin) ? admin_features_path : features_path}/%%ID%%",
 mandala_path: "https://mandala.shanti.virginia.edu/%%APP%%/%%ID%%/%%REL%%/nojs",
 feature_fid: uid,
 language: Language.current.code,
 view: current_view.code,
 activeNodeId: fid,
} %>
<%= javascript_include_tag 'kmaps_engine/kmaps_relations_tree' %>
<%= javascript_on_load do %>
  var menuSolrUtils = kmapsSolrUtils.init({
    termIndex: $('#menu_js_data').data('termIndex'),
    assetIndex: $('#menu_js_data').data('assetIndex'),
    featureId: $('#menu_js_data').data('featureId'),
    domain: $('#menu_js_data').data('domain'),
    perspective: $('#menu_js_data').data('perspective'),
    tree: $('#menu_js_data').data('tree'), //places
    featuresPath: $('#menu_js_data').data('featuresPath'),
  });

  $("#kmaps-explorer-search-term").focusin(function(){
   $(".view-section .nav.nav-tabs a[href='.listview']").tab("show");
  });

  $("#kmaps-explorer-search-term").flyoutKmapsTypeahead({
    hostname: $('#menu_js_data').data('termIndex'),
    hostname_assets: $('#menu_js_data').data('assetIndex'),
    domain: $('#menu_js_data').data('domain'),
    filters_domain: 'subjects',
    root_kmap_path: null,
    features_path: "<%= (defined?(admin) && admin) ? admin_features_path : features_path %>/%%ID%%",
    solrUtils: menuSolrUtils,
    language: $('#menu_js_data').data('language'),
  });

  $("#tree").kmapsRelationsTree({
    featureId: $('#menu_js_data').data('featureFid'),
    termIndex: $('#menu_js_data').data('termIndex'),
    assetIndex: $('#menu_js_data').data('assetIndex'),
    perspective: $('#menu_js_data').data('perspective'),
    tree: $('#menu_js_data').data('tree'), //places
    domain: $('#menu_js_data').data('domain'), //places
    descendants: true,
    directAncestors: false,
    descendantsFullDetail: false,
    initialScrollToActive: true,
    displayPopup: true,
    solrUtils:  menuSolrUtils,
    language: $('#menu_js_data').data('language'),
    featuresPath: $('#menu_js_data').data('featuresPath'),
  });

  var session_search = Cookies.getJSON('search_<%= Feature.uid_prefix %>');
  if(session_search) {
  $("#kmaps-explorer-search-term").flyoutKmapsTypeahead('restoreSavedSearch', session_search,'kmaps-explorer');
  Cookies.remove('search_<%= Feature.uid_prefix %>');
  }
<% end %>
