<% active_item = active_menu_item %>
<section id="kmaps-search" role="search">
  <!-- BEGIN Input section -->
  <section class="input-section" style="display:none">
<%= form_for @search_form, url: search_features_path, remote: true do |form| %>
    <div class="search-group">
	  <div class="input-group" id="searcharea">
<%=     form.text_field :filter, class: 'form-control kms', placeholder: 'Enter Search...' %>
	    <span class="input-group-btn">
<%=       form.button class: 'btn btn-default' do %>
            <span class="icon"></span>
<%        end %>
        </span>
      </div>
	  <div class="form-group">
<%=     link_to '#', class: 'advanced-link toggle-link' do %>
          <span class="icon"></span><%= ts(:advanced) %>
<%      end %>
	  </div>
<%=   javascript_on_load do %>
        $('.advanced-link').click ( function () {
          $(this).toggleClass("show-advanced",'fast');
          $(".advanced-view").slideToggle('fast');
          $(".advanced-view").toggleClass("show-options");
        });
<%    end %>
    </div>
	<section class="advanced-view" style="<%= 'display:none;' unless current_show_advanced_search  %>">
	   <div class="form-group" id="searchScopeGroup">
        <div>
<%=       form.radio_button :scope, 'full_text' %> <%= ts 'search.full_text' %>
<%=       form.radio_button :scope, 'name' %> <%= FeatureName.model_name.human.titleize.s %>
        </div>
        <div>
<%=       form.radio_button :match, 'contains' %> <%= ts 'search.contains' %>
<%=       form.radio_button :match, 'begins' %> <%= ts 'search.begins' %>
<%=       form.radio_button :match, 'exactly' %> <%= ts 'search.exactly' %>
        </div>
        <div>
<%=       form.check_box :has_descriptions %>
<%=       form.label :has_descriptions, ts('snippet.essay.with') %>
        </div>
        <div id="tmb_category_selector_object_type"></div>
        <div id="characteristic_selector"></div>
<!--    <div>  Select Scope: -->
<%        # form.radio_button :search_scope, 'global' Global
          # form.radio_button :search_scope, 'contextual' Contextual
          # form.radio_button :search_scope, 'fid' THL ID 
%>
<!--    </div> -->
<%=     form.hidden_field :context_id %>
<%=     form.label :fid, "Or Go to #{Feature.human_attribute_name(:pid)}:" %>
<%=     form.text_field :fid %>
      </div>
	</section>
<%  end %>
<%= javascript_on_load do %>
      $('#new_search').bind("ajax:beforeSend", function() {
	    $("#NodeSearchResults").html('<%= image_tag('interface_utils/ajax-loader.gif') %>');
		$('.nav a[href=".listview"]').tab('show')
	  });
	  $('.nav a[href=".listview"]').on('shown.bs.tab', function (e) {
		  jQuery.ajax({ type: 'POST', url: '<%= set_session_variables_features_path %>', data: 'menu_item=results', success: function(){}, error: function(){} });
	  });
	  $('.nav a[href=".treeview"]').on('shown.bs.tab', function (e) {
		  jQuery.ajax({ type: 'POST', url: '<%= set_session_variables_features_path %>', data: 'menu_item=browse', success: function(){}, error: function(){} });
	  });
<%  end %>
  </section>
  <!-- END input section -->
  <!-- BEGIN view section -->
  <section class="view-section">
    <ul class="nav nav-tabs">
<%    active_item = active_menu_item %>
      <li class="treeview<%= ' active' if active_item == 'browse' %>"><a href=".treeview" data-toggle="tab"><span class="icon shanticon-tree"></span>Solr Tree</a></li>
      <li class="listview<%= ' active' if active_item == 'results' %>"><a href=".listview" data-toggle="tab"><span class="icon shanticon-list"></span>List</a></li>
    </ul>
	  <div class="tab-content">
	    <div class="treeview tab-pane<%= ' active' if active_item == 'browse' %>">
	      <div id="tree" class="view-wrap">
	      </div>
	    </div>
      <div class="listview tab-pane<%= ' active' if active_item == 'results' %>">
        <div id="NodeSearchResults" >
<%        if session[:search].blank? %>
<%=         ts 'snippet.search' %>
<%        else
            begin
              search_results = Feature.find(session[:search][:feature_ids])
            rescue
              search_results = nil
              session[:search] = nil
            end
            if !search_results.blank? %>
<%=           render :partial => 'features/search_results', :locals => {:use_session => true, :features => search_results} %>
<%          end
          end %>
        </div>
      </div>
	  </div>
  </section>
</section>
<%#= javascript_include_tag 'kmaps_engine/kmaps_fancytree' %>
<% feature = contextual_feature %>
    <script type='text/javascript'>
$(document).ready(function(){
        $("#tree").kmapsTree({
          termindex_root: "<%= Flare.session.config.scheme+'://'+Flare.session.config.hostname+Flare.session.config.path %>",
          kmindex_root: "<%= Flare.session.config.scheme+'://'+Flare.session.config.hostname+'/solr/kmassets_dev' %>",
          type: 'places',
          root_kmap_path: '13735',
          baseUrl: "<%= features_path %>",
          //expand_path: "13735/13740/1/2/317/637",
          //activeNodeId: '637',
          //expand_path: "13735/13740/1/2/317/637/434",
          expand_path: "",
          perspective: "<%= current_perspective.code %>",
<%         unless feature.nil? %>
           activeNodeId: "<%= feature.fid %>",
<%        end %>
        });

  /*
  $("#tree").kmapsFancytree({
    hostname: "<%= Flare.session.config.scheme+'://'+Flare.session.config.hostname %>",
    featureId: "<%= @feature.fid %>",
    termIndex: "<%= Flare.session.config.path %>",
    seedTree: {
      descendants: true,
      directAncestors: false,
    },
  });
*/
});
    </script>
<% # If a search is made via GET params (e.g. /features?filter=china), we need to perform it.
   valid_search_params = [:filter, :context_id, :match, :object_type, :characteristic_id, :scope, :search_scope, :has_descriptions].collect{|p| p.to_s }
   unless (params.keys & valid_search_params).empty? %>
<%=  link_to '', search_features_path, :remote => true, :id => 'ajax_search_results', :style => 'display:none;' %>
<%=  javascript_tag("$('#ajax_search_results').bind('ajax:beforeSend', function(){ NodeMenu.beginSearch() })") %>
<%=  javascript_on_load("jQuery('#ajax_search_results').click()") %>
<% end %>
