<% active_item = active_menu_item %>
<section id="kmaps-search" role="search">
  <!-- BEGIN Input section -->
  <section class="input-section" style="display:none">
<%= form_for @search_form, url: search_features_path, remote: true do |form| %>
    <div class="search-group">
      <!-- typeahead search -->
<div class="kmap-typeahead-picker">
  <label class="flyout-search-label"><span>Search:</span></label>
    <%=     text_field_tag "kmaps-explorer-search-term", "",  class: 'kmap-search-term form-control form-text', placeholder: 'Enter Search...', autocomplete: :off %>
  <span class="icon shanticon-magnify"></span>
  <button type="button" class="btn searchreset" aria-label="Clear search text" style="display: none;"><span class="icon"></span></button>
</div>
      <!-- END - typeahead search -->
	  <div class="form-group">
<%=     link_to '#', class: 'advanced-link toggle-link' do %>
          <span class="icon"></span><%= ts(:advanced) %>
<%      end %>
	  </div>
<%=   javascript_on_load do %>
        $('.advanced-link').click ( function () {
        var tg = $('.advanced-view').is(":visible");
         $(this).toggleClass("show-advanced",'fast');
          $(".advanced-view").slideToggle('fast');
          $(".advanced-view").toggleClass("show-options");
          ShantiSarvaka.searchTabHeight(!tg);
        });
<%    end %>
    </div>
	<section class="advanced-view" style="<%= 'display:none;' unless current_show_advanced_search  %>">
	   <div class="form-group" id="searchScopeGroup">
       <label><span>Filter:</span> search scope</label>
        <div>
<%=       form.radio_button :scope, 'full_text' %>
<%=       form.label :scope, ts('search.full_text'), value: 'full_text' %>
<%=       form.radio_button :scope, 'name' %>
<%=       form.label :scope, FeatureName.model_name.human.titleize.s, value: 'name'%>
        </div>
        <div>
          <%=       form.radio_button :match, 'contains' %>
          <%= form.label :match, ts('search.contains'), value: 'contains' %>
<%=       form.radio_button :match, 'begins' %>
<%=       form.label :match, ts('search.begins'), value: 'begins' %>
<%=       form.radio_button :match, 'exactly' %>
<%=       form.label :match, ts('search.exactly'), value: 'exactly' %>
        </div>
        <div id="search-note" style='display:none'><p>'Starts with' and 'Exactly' filters are case sensitive</p></div>
        <hr />
<div id="kmaps-explorer-filter-feature_type"
     class="kmap-filter"
     data-search-filter="feature_type">
    <label><span>Filter:</span> select feature types</label>
    <input id="kmaps-explorer-search-filter-feature_type"
           class="kmap-search-filter form-control form-text" type="text"
           data-search-filter="feature_type"
           placeholder="Filter by feature types">
    <div id="kmaps-explorer-filter-box-feature_type"
         class="kmap-filter-box"
         data-search-filter="feature_type" style="display:none"></div>
</div>
<div id="kmaps-explorer-filter-associated_subject"
     class="kmap-filter"
     data-search-filter="associated_subject">
    <label><span>Filter:</span> select associated subject</label>
    <input id="kmaps-explorer-search-filter-associated_subject"
           class="kmap-search-filter form-control form-text" type="text"
           data-search-filter="associated_subject"
           placeholder="Filter by associated subject">
    <div id="kmaps-explorer-filter-box-associated_subject"
         class="kmap-filter-box"
         data-search-filter="associated_subject" style="display:none"></div>
</div>
<hr>
    <div id='goto-fid' class="input-group">
      <input type="text" class="form-control" placeholder="Go to place ID...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
      </div>
	</section>
<%  end %>
<%= javascript_on_load do %>
  $("#kmaps-explorer-search-term").focusin(function(){
   $(".view-section .nav.nav-tabs a[href='.listview']").tab("show");
  });
  $("#kmaps-explorer-search-term").flyoutKmapsTypeahead({
    hostname: "<%= Flare.session.config.url %>",
    domain: "<%= Feature.uid_prefix %>",//"places",
    filters_domain: 'subjects',
    root_kmap_path: null,
    features_path: '<%= features_path %>/',
  });
<% end %>
  </section>
  <!-- END input section -->
  <!-- BEGIN view section -->
  <section class="view-section">
    <ul class="nav nav-tabs">
<%    active_item = active_menu_item %>
      <li class="treeview<%= ' active' if active_item == 'browse' %>"><a href=".treeview" data-toggle="tab"><span class="icon shanticon-tree"></span>Tree</a></li>
      <li class="listview<%= ' active' if active_item == 'results' %>"><a href=".listview" data-toggle="tab"><span class="icon shanticon-list"></span>Results</a></li>
    </ul>
	  <div class="tab-content">
	    <div class="treeview tab-pane<%= ' active' if active_item == 'browse' %>">
	      <div id="tree" class="view-wrap">
	      </div>
	    </div>
      <div class="listview tab-pane<%= ' active' if active_item == 'results' %>">
        <div class="view-wrap"></div>
      </div>
	  </div>
  </section>
</section>
<% feature = contextual_feature %>
    <script type='text/javascript'>
$(document).ready(function(){
        $("#tree").kmapsTree({
          termindex_root: "<%= Flare.session.config.scheme+'://'+Flare.session.config.hostname+Flare.session.config.path %>",
          kmindex_root: "<%= Flare.session.config.scheme+'://'+Flare.session.config.hostname+'/solr/kmassets_dev' %>",
          type: 'places',
          root_kmap_path: '13735',
          baseUrl: "<%= features_path %>",
          expand_path: "",
          perspective: "<%= current_perspective.code %>",
<%        unless feature.nil? %>
          activeNodeId: "<%= feature.fid %>",
<%        end %>
        });
});
    </script>
<% # If a search is made via GET params (e.g. /features?filter=china), we need to perform it.
   valid_search_params = [:filter, :context_id, :match, :object_type, :characteristic_id, :scope, :search_scope, :has_descriptions].collect{|p| p.to_s }
   unless (params.keys & valid_search_params).empty? %>
<%=  link_to '', search_features_path, :remote => true, :id => 'ajax_search_results', :style => 'display:none;' %>
<%=  javascript_tag("$('#ajax_search_results').bind('ajax:beforeSend', function(){ NodeMenu.beginSearch() })") %>
<%=  javascript_on_load("jQuery('#ajax_search_results').click()") %>
<% end %>
