<p>
<ul class="normal">
<% @relations.each do |relation| %>
  <li>
    <%= "#{f_link(relation.related_feature, features_path(:anchor => relation.related_feature_id), {}, {:s => true})} (from the #{relation.perspective} perspective)" %>
	<%= note_popup_link_for(relation) %>
	<%= time_units_for(relation) %>
  </li>
<% end %>
  <li class="pagination" style="text-align:left !important;">
	<% pagination = will_paginate @relations, :params => @params, :container => false %>
    <%= pagination %>
    <%= " <span style='color:#aaa'>(for #{pluralize(@total_relations_count, @category.title + ' feature')})</span>" unless pagination.nil? %>
  </li>
</ul>
<%= note_popup_link_list_for(@feature, {:association_type => FeatureRelation.model_name}) %>
</p>
