<%= stylesheet_link_tag('collapsible_list/kmaps_collapsible_list') %>
<%  feature_label = fname_labels(@feature).s %>
<% related_features_counts = @feature.related_features_counts %>
<div id='myTabs'>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#relation_tree" aria-controls="profile" role="tab" data-toggle="tab">Relationships</a></li>
    <li role="presentation"><a id="summary-tab-link" href="#relation_details" aria-controls="home" role="tab" data-toggle="tab">Summary</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="relation_tree">
      <section class="panel panel-content">
        <div class="panel-body">
          <p>
          <strong><%= feature_label %></strong> has <strong class="relatedCountContainer"><%= related_features_counts[:children] %></strong> subordinate <%= Feature.model_name.human(count: related_features_counts[:children]).s %> and <strong class="relatedCountContainer"><%= related_features_counts[:parents] %></strong> superordinate <%= Feature.model_name.human(count: related_features_counts[:parents]).s %>. <%= ts('snippet.feature.browse_related', count: related_features_counts[:children]) %> See the summary tab if you instead prefer to view only  its immediately subordinate places grouped together in useful ways, as well as places non-hierarchically related to it.
          </p>
            <div id='relation_tree_container'></div>
        </div> <!-- END panel-body -->
      </section> <!-- END panel -->
  </div>
    <div role="tabpanel" class="tab-pane" id="relation_details">
      <section class="panel panel-content">
        <div class="panel-body">
          <p>
          <%= ts('snippet.feature.browse_summary', who: "<strong>#{feature_label}</strong>",
                 how_many: "<strong class='relatedCountContainer'>#{related_features_counts[:related_features]}</strong>",
                 what: Feature.model_name.human(count: related_features_counts[:related_features]),
                 count: related_features_counts[:related_features]) %> See the relationships tab if you instead prefer to browse  all subordinate and superordinate places for <%= feature_label %>.
          </p>
          <div class='tab-content-loading' style="display:none">Loading...</div>
          <div class="collapsible_btns_container" style="display:none" >
            <h5> <span class="collapsible_all_btn collapsible_expand_all">Expand all</span> / <span class="collapsible_all_btn collapsible_collapse_all">Collapse all</span></h5>
          </div>
        <div class="places-in-places kmaps-list-columns related-features-categories has-ajax-pagination has-hash-feature-links"></div>
        <div class="collapsible_btns_container" style="display:none">
          <h5> <span class="collapsible_all_btn collapsible_expand_all">Expand all</span> / <span class="collapsible_all_btn collapsible_collapse_all">Collapse all</span> </h5>
        </div>
<%=     note_popup_link_list_for(@feature, {association_type: FeatureRelation.name}) %>
        </div> <!-- END panel-body -->
      </section> <!-- END panel -->
		</div>
	</div> <!-- Tab Panes end -->
</div> <!-- myTabs end -->
<%= content_tag :div, "", id: 'related_js_data', data: {
 term_index: Feature.config.url,
 asset_index: ShantiIntegration::Source.config.url,
 feature_id: "#{Feature.uid_prefix}-#{@feature.fid}",
 domain: Feature.uid_prefix,
 perspective: current_perspective.code,
 view: current_view.code,
 tree: Feature.uid_prefix,
 feature_label: feature_label,
 features_path: "#{features_path}/%%ID%%",
 mandala_path: "https://mandala.shanti.virginia.edu/%%APP%%/%%ID%%/%%REL%%/nojs",
 feature_fid: @feature.fid,
 language: Language.current.code
} %>
<%= javascript_include_tag 'kmaps_engine/kmaps_relations_tree' %>
<%= javascript_include_tag 'places_engine/related-section-initializer' %>
<%= javascript_include_tag 'collapsible_list/jquery.kmapsCollapsibleList' %>
