<p>
<ul class="normal">
<% @relations.each do |relation| %>
  <li>
    <%= "#{f_link(relation.related_feature, features_path(:anchor => relation.related_feature_id))} (#{(relation.feature_is_parent ? relation.feature_relation_type.label : relation.feature_relation_type.asymmetric_label).capitalize} &#8212; from the #{relation.perspective} perspective)" %>
	<%= note_popup_link_for(relation) %>
	<%= time_units_for(relation) %>
  </li>
<% end %>
</ul>
<%= will_paginate @relations, :params => @params %>
<%= note_popup_link_list_for(@feature, {:association_type => FeatureRelation.model_name}) %>
</p>
