<% if descendants and descendants.size > 0 %>
   <div id="FeatureContains" class="has-right-margin">
<%=  content_tag :h3, Feature.human_attribute_name(:descendant, :count => :many).s %>
     <table>
     <tr><td colspan="2" style="padding:.3em;"><%= will_paginate descendants, :custom => true %></td></tr>
     <tr>
       <th><%= Feature.human_attribute_name(:descendant).s %></th>
       <th><%= Feature.human_attribute_name(:object_type).s %></th>
     </tr>
<%   descendants.each do |child| %>
     <tr id="feature_<%= child.id %>">
       <td><%= f_link(child, feature_path(child.fid)) %></td>
       <td><%=h child.object_types.first.title rescue '' %></td>
     </tr>
<%   end %>
     </table>
   </div>
<script type="text/javascript">
  $('.ajax_get').click(function() {
    $.get($(this).attr('name'), function(data){
      $('#FeatureContains').replaceWith(data);
    });
  return false;
  });
</script>
<% else %>
   <div class="left">
     <h2><%= ts 'no.record', :what => Feature.human_attribute_name(:descendant, :count => :many) %></h2>
     <p><%= ts 'snippet.feature.not.contains' %></p>
   </div>
<% end %>
