<%= javascript_include_tag 'cultural_network/iframe' %>
<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= google_maps_key %>"></script>
<%= javascript_include_tag 'http://openlayers.org/api/OpenLayers.js' %>
<%= javascript_include_tag "#{ThlSite.get_url}/places/maps/interactive/scripts/THLWMS.js" %>
<div id="FeatureContainer">
	<div id="FeaturePanelContainer">
		<div id="FeaturePanel">
		  <div class="left" id="FeatureDetail">
		    <%= render :partial => 'feature', :locals => {:feature => @feature, :show_old_pid => false} %>
		  </div>
		  <div class="left" id="Contains">
		  </div>
		</div><!-- FeaturePanel -->
		<br class="clear"/>
	</div><!-- FeaturePanelContainer -->
</div><!-- FeatureContainer -->