<%= stylesheet_link_tag 'jquery-ui-tabs' %>
<%= javascript_include_tag 'jquery-form' %>
<%= javascript_include_tag 'jquery.livequery' %>
<%= javascript_include_tag "sections/#{controller.controller_name}" %>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<%= javascript_include_tag 'node-menu' %>
<%= javascript_include_tag 'node-tree' %>
<script type="text/javascript">
<% if @context_feature.nil?
     if @features.nil?
       selected_tab = 0 #overview
     else
       selected_tab = 1 #global search results (no feature details nor contains)
     end
   else
     if @features.nil?
       selected_tab = 1 #feature details
     else
       selected_tab = 3 # contextual search results (there is also feature details)
     end
   end %>

jQuery(document).ready(function(){
	jQuery("#FeaturePanel_2").tabs({
		selected: <%= selected_tab %>,
		cache: true,
		load: function() { NodeTree.reselectNode(); }
	});
	jQuery(window).unbind("scroll");
	NodeTree.init("NodeTree", "NodeTreeList", "<%= features_path %>/");
	NodeMenu.init("NodeMenu", "<%= features_path %>/");
});

</script>

	<div class="right">
	  Perspective: <%= current_perspective || "none" %> (<%= link_to 'switch perspective', edit_session_path %>)
	</div>
<h2>THL Place Dictionary: Geographical Features of Tibet &amp; the Himalayas</h2>

<div id="FeatureContainer_2">
	<div id="FeaturePanelContainer">
		<div id="NodeMenu">
			<h2>Search</h2>
			<div id="NodeSearch">
				<% form_remote_for :feature,
					:url => {:controller => :features, :action => :search },
					:update => "NodeSearchResults",
					:condition => "NodeMenu.checkForFidSearch()",
					:loading => "NodeMenu.beginSearch()" do |form| %>
					<%= text_field_tag :filter, h(params[:filter]), :class=>:text %>
					<br />
					Select Scope:
					<%=  radio_button_tag :search_scope, :global, true %> Global
					<%=  radio_button_tag :search_scope, :contextual %> Contextual
					<%=  radio_button_tag :search_scope, :fid %> THL ID
					<br />
					<%=  hidden_field_tag :context_id, "" %>
					<%= submit_tag 'search' %>
					
				<% end %>
			</div>
			<h2>Search Results</h2>
			<div id="NodeSearchResults">
				Use the search field above to search for features.
			</div>
			<h2>Features</h2>
			<div id="NodeTree">
				<div id="NodeTreeList">
				<% if current_perspective %>
					<%= render :partial => "node_tree", :locals => { :children => @top_level_nodes } %>
				<% else %>
					To see a list of features, please <%= link_to 'choose a perspective', edit_session_path %>.
				<% end %>
				</div>
			</div>
		</div>
		<div id="FeaturePanel_2">
  
		  <!-- sets up the tabs for jquery -->
		  <ul>
		    <li><a href="#Overview_2"><span>Overview</span></a></li>
		  </ul>
  
		  <div class="left" id="Overview_2">
			<div class="has-right-margin">
		    <h2>Overview</h2>
		    <p>The THL Place Dictionary provides information about all varieties of places in Tibet and the Himalayas, in past and present times&mdash;nations, provinces, counties, monasteries, villages, mountains, natural regions, and more. It currently includes contemporary administrative units in China with Tibetan populations and administrative units in Nepal. In 2008-9 we will be adding historical data, including Tibetan monasteries. We will also add interactive mapping and links to associated images and audio-video.</p>
		    </div>
		  </div>
		</div><!-- FeaturePanel_2 -->
		<br class="clear"/>
	</div><!-- FeaturePanelContainer -->
</div><!-- FeatureContainer_2 -->