<%= render :partial => 'top' %>
<div class="left" id="Home">
  <div class="has-right-margin">
    <h2><%= @intro_blurb.title  %></h2>
<%= @intro_blurb.content.html_safe %>
  </div>
</div>
<%= # Check for outdated, hash-based paths for features, like "/#59" and redirect them to the correct path
   javascript_on_load do %>
     if(window.location.hash){
       var feature_id_match = window.location.hash.match(/^#([\d]+)$/);
       if(feature_id_match){
         feature_id = feature_id_match[1];
         window.location = '<%= features_url %>/'+feature_id;
       }
     }
<% end %>
<%= javascript_on_load "document.title = '#{t 'app.this'}'" %>
<%= render :partial => "bottom" %>