<% @selected_tab = 0 %>
<%= render :partial => "top" %>
  
		  <!-- sets up the tabs for jquery -->
		  <ul>
		    <li><a href="#Home"><span>Home</span></a></li>
				<% unless @feature.nil? %>
			    <li><a href="<%= feature_path @feature.fid %>"><span>Place</span></a></li>
			    <% unless @feature.descriptions.empty? %>
			    <li><a href="<%= feature_description_path(@feature, @feature.descriptions.first) %>"><span>Essays (<%= "#{@feature.descriptions.length}" %>)</span></a></li>
			    <% end %>
			    <li><a href="<%= related_feature_path @feature.fid %>"><span>Related</span></a></li>
				<% end %>
		  </ul>
  
		  <div class="left" id="Home">
				<div class="has-right-margin">
			    <h2><%= @intro_blurb.title  %></h2>
					<%= @intro_blurb.content %>
			  </div>
			</div>

<% # Check for outdated, hash-based paths for features, like "/#59" and redirect them to the correct path %>
<% javascript_on_load do %>
if(window.location.hash){
	var feature_id_match = window.location.hash.match(/^#([\d]+)$/);
	if(feature_id_match){
		feature_id = feature_id_match[1];
		window.location = '<%= features_url %>/'+feature_id;
	}
}
<% end %>

<%= javascript_on_load "document.title = 'THL Place Dictionary of Tibet & the Himalayas'" %>

<%= render :partial => "bottom" %>