<% @selected_tab = @feature.descriptions.empty? ? 2 : 3 %>
<%= render :partial => "top" %>

		  <!-- sets up the tabs for jquery -->
		  <ul>
		    <li><a href="<%= ActionController::Base.relative_url_root %>/"><span>Home</span></a></li>
		    <li><a href="<%= feature_path @feature.fid %>"><span>Place</span></a></li>
        <% unless @feature.descriptions.empty? %>
		    <li><a href="<%= feature_description_path(@feature, @feature.descriptions.first) %>"><span>Essays (<%= "#{@feature.descriptions.length}" %>)</span></a></li>
		    <% end %>
		    <li><a href="#RelatedFeatures"><span>Related</span></a></li>
		  </ul>
			<div id="RelatedFeatures">
				<div class="has-right-margin">
					<%= render :partial => "related" %>
				</div>
			</div>

<%= javascript_on_load "document.title = 'THL Place Dictionary - #{feature_name_header(@feature)} - Related Places'" %>
			
<%= render :partial => "bottom" %>