<% @un_options = {:entity => @feature} %>

<%= render :partial => "top" %>

<% 
	secondary_tabs = [["Home", "#{ActionController::Base.relative_url_root}/"]]
  secondary_tabs << ["Place", feature_path(@feature.fid)]
  secondary_tabs << ["Essays (#{@feature.descriptions.length})", feature_description_path(@feature, @feature.descriptions.first)] unless @feature.descriptions.empty?
	secondary_tabs << ["Related", "#RelatedFeatures"]
%>

			<%= un_secondary_tabs secondary_tabs, @feature.descriptions.empty? ? 2 : 3 %>

			<div id="RelatedFeatures">
				<div class="has-right-margin">
					<%= render :partial => "related" %>
				</div>
			</div>

<%= javascript_on_load "document.title = 'THL Place Dictionary - #{feature_name_header(@feature)} - Related Places'" %>
			
<%= render :partial => "bottom" %>