<% @un_options = {:entity => @feature} %>

<%= render :partial => "top" %>

<% 
	secondary_tabs = [["Home", "#{ActionController::Base.relative_url_root}/"]]
  secondary_tabs << ["Place", "#FeatureDetail"]
  secondary_tabs << ["Essays (#{@feature.descriptions.length})", feature_description_path(@feature, @feature.descriptions.first)] unless @feature.descriptions.empty?
	secondary_tabs << ["Related", related_feature_path(@feature)]
%>

			<%= un_secondary_tabs secondary_tabs, 1 %>

			<div id="FeatureDetail">
				<div class="has-right-margin">
					<%= render :partial => "feature", :locals => {:feature => @feature, :show_old_pid => false} %>
				</div>
			</div>

<%= javascript_on_load "document.title = 'THL Place Dictionary - #{feature_name_header(@feature)}'" %>

<%= render :partial => "bottom" %>