<% @un_options = {:entity => @feature} %>

<%= render :partial => "top" %>

			<%= un_secondary_tabs [["Home", ActionController::Base.relative_url_root], ["Place", "#FeatureDetail"], ["Related", related_feature_path(@feature)]], 2 %>

			<div id="FeatureDetail">
				<div class="has-right-margin">
					<%= render :partial => "feature", :locals => {:feature => @feature, :show_old_pid => false} %>
				</div>
			</div>

<%= javascript_on_load "document.title = 'THL Place Dictionary - #{feature_name_header(@feature)}'" %>

<%= render :partial => "bottom" %>