<%= render :partial => "top" %>
<div id="FeatureDetails">
<h3>Subjects associated with feature <%= feature_name_header(@feature) %></h3>
<%= render :partial => 'topics', :locals => {:feature => @feature} %>
<%= javascript_on_load "document.title = '#{ts 'app.short'} - #{feature_name_header(@feature)} - #{ts 'relat.ed.record', :what => Feature.model_name.human.titleize}'" %>		
<%= render :partial => "bottom" %>