<%  header_options = { class: 'html not-front logged-in no-sidebars page-places kmaps rails', javascript_files: ['kmaps_engine/admin'], stylesheet_files: ['kmaps_engine/admin'] }
    header_options[:title] = "#{model_name.classify.constantize.model_name.human.titleize}: #{controller.action_name.humanize}" if defined?(model_name) && !model_name.blank? %>
<%= header(**header_options) %>
<!-- Banner Region -->
<main class="main-wrapper container-fluid">
	<article class="main-content" role="main">
		<section class="row">
			<!-- Banner Region -->
			<div class="titlearea banner">
				<div>
					<header role="banner">
						<h1 class="page-title"><span class="icon shanticon-places"></span>
							<!-- <span class="page-title-text"><%= @page_title if @page_title %></span> -->
							<span class="page-title-text"><%= page_header_title %></span>
						</h1>
					</header>
					<nav class="breadwrap" style="display:none;">
<%=                   render_breadcrumbs %>
					</nav>
					<div class="banner-content"></div>
					<div class="banner-tabs"></div>
				</div>
		</section> <!-- End of Banner Row -->
		<!-- Begin Content Row -->
		<section class="row row-offcanvas " role="main">
			<!-- Sidebar First Region -->

			<!-- Begin Page Content -->
			<section class="content-section equal-height">
				
				<button type="button" class="btn btn-default view-offcanvas-sidebar" data-toggle="offcanvas" style="display:none;">
					<span class="icon"></span>
				</button>
	          	<!-- Message Area -->
				
	          	<!-- Main Content -->
				<div class="tab-content container-fluid">
					<article id="tab-overview" class="tab-pane main-col active">
						<div class="content">
<%=                       render 'public/flash' %>
<%=                       yield %>
						</div>
					</article>
				</div> <!-- END tab-content -->
			</section> <!-- END Content --> <!-- Sidebar Second Region -->
		</section> <!-- END row row-offcanvas -->
	</article> <!-- END main-content -->
	<div id="search-flyout" class="region extruder right" role="search" style="display: none;">
		<div class="region region-search-flyout">
			<div id="block-kmaps-explorer-kmaps-explorer-block" class="block block-kmaps-explorer">
				<div class="content">
<%=       render partial: 'features/menu', locals: {admin: true} %>
				</div>
			</div>
		</div>
	</div>
</main>
<%= render 'public/admin_menu' %>
<%= footer %>
