<%= header(class: "html not-front #{logged_in? ? 'logged-in' : 'not-logged-in'} no-sidebars page-places kmaps rails", stylesheet_files: ["kmaps_engine/#{current_view.code=='roman.scholar' ? 'scholar' : 'popular'}", 'kmaps_engine/xml-books'], javascript_files: ['http://openlayers.org/api/OpenLayers.js','places_engine/THLWMS','places_engine/inset-map',"http://maps.googleapis.com/maps/api/js?key=#{google_maps_key}&sensor=false"]) %>
<!-- Begin Content Region -->
<main class="main-wrapper container-fluid">
	<article class="main-content" role="main">
		<section class="row">
			<!-- Banner Region -->
			<div class="titlearea banner">
				<div>
				<header role="banner">
					<h1 class="page-title"><span class="icon shanticon-places"></span><span class="page-title-text"><%= page_header_title %></span></h1>
				</header>
				<nav class="breadwrap">
<%=                   f_breadcrumb %>
				</nav>
				<div class="banner-content"></div>
				<div class="banner-tabs"></div>
				</div>
			</div>
		</section> <!-- End of Banner Row -->
		<!-- Begin Content Row -->
		<section class="row row-offcanvas" role="main">
			<!-- Sidebar First Region -->

			<!-- Begin Page Content -->
			<section class="content-section  equal-height">
				<button type="button" class="btn btn-default view-offcanvas-sidebar" data-toggle="offcanvas" style="display:none;">
					<span class="icon"></span>
				</button>
	          	<!-- Message Area -->
	          	<!-- Main Content -->
				<div class="tab-content container-fluid">
					<article id="tab-overview" class="tab-pane main-col active">
						<div class="region region-content">
							<div id="block-system-main" class="block block-system">
								<div class="content">
									<div id="places-main">										
									<!-- Column Resources  -->
<%=         universal_navigation :places, @current_tab_id, custom_secondary_tabs(@current_tab_id) %>
									<!-- Column Main -->
									<section  class="content-section col-xs-12 col-md-9 equal-height">
										<div class="tab-content">
										<article class="tab-pane active" id="<%= @current_tab_id %>">
<%=                                         render 'public/flash' %>
<%=                                         yield %>
					                    </article>
<%=                                     render partial: 'main/inactive_tab_content', locals: {current_app_id: :places} %>
				                    	</div> <!-- END tab-content -->
  							  		</section><!-- END content-section -->
								</div>
			                        <!-- END Content -->
			                        <!-- Sidebar Second Region -->
								</div>
							</div> <!-- END block-system-main -->
						</div> <!-- END region -->
					</article>
				</div> <!-- END tab-content -->
			</section> <!-- END content-section -->
		</section> <!-- END row row-offcanvas -->
	</article> <!-- END main-content -->
<%= javascript_on_load do %>
      jQuery(window).unbind("scroll");
      NodeTree.init('NodeTree', 'NodeTreeList', '<%= features_path %>/');
      var characteristic_data = <%= CategoryFeature.get_json_data %>;
      var characteristic_selector = new CharacteristicSelector();
      characteristic_selector.init('characteristic_selector', {
      fieldLabel: "<%= Topic.human_name.titleize %>:",
      data: characteristic_data});
<%  end %>
<%= category_searcher(false, category_id: 20, field_name: 'object_type', field_label: "#{Feature.human_attribute_name(:object_type).s}: ", exclude_span: true, options: { hasTree: 'true' }) %>
	<div id="search-flyout" class="region extruder right" role="search" style="display: none;">
		<div class="region region-search-flyout">
			<div id="block-kmaps-navigator-kmaps-navigator-block" class="block block-kmaps-navigator">
				<div class="content">
<%=               render 'features/menu' %>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- End Main Content -->
<div id="popup_dialog"></div>
<%= render 'public/public_menu' %>
</div>
<!-- End wrap-all -->
<%= footer %>
